<template>
    <div class="is-12 flex wrap with-preview">
        <div class="account-sidebar-menu">
            <affix relative-element-selector="#account-content" :offset="{ top: 52, bottom: 0 }">
                <div class="floating-account-sidebar-user">
                    <div class="profile-top-wrap">
                        <div class="user-avatar-container">
                            <img draggable="false" :src="liveAvatar ? liveAvatar : avatar">
                        </div>
                        <div class="sidebar-part wrap">
                            <h1 class="is-12">{{ user.name }}</h1>
                            <span class="is-12 cp-wrap">CP <b>{{ user.rating }}</b></span>
                        </div>
                    </div>

                    <hr class="seperator line">
                    
                    <ul>
                        <scrollactive :offset="107" class="my-nav">
                            <a href="#information" class="scrollactive-item"><li><i class="menu-icon i-account-details"></i>Account information</li></a>
                            <a href="#tags" class="scrollactive-item"><li><i class="menu-icon i-creative-tags"></i>Creative tags</li></a>
                            <a href="#socials" class="scrollactive-item"><li><i class="menu-icon i-social-profiles"></i>Social profiles</li></a>
                            <a href="#password" class="scrollactive-item"><li><i class="menu-icon i-change-password"></i>Change password</li></a>

                            <a href=""><li><i class="menu-icon i-notifications"></i>Notification settings</li></a>
                            <a href=""><li><i class="menu-icon i-billing"></i>Billing</li></a>
                            <a href=""><li><i class="menu-icon i-session-log"></i>Session log</li></a>
                        </scrollactive>
                    </ul>
                    
                </div>
            </affix>
        </div>
        <div id="left-side" class="HolyGrail-content fade-in-element">
            <form :action="route" enctype="multipart/form-data" method="post" id="information" class="is-12 page">
                <input type="hidden" name="_token" :value="token">
                <h2 class="account-section-header" style="margin-top: 25px;">Account Information</h2>
                
                <label for="avatar">
                    <span class="label-block">Avatar <b>jpg/png files with a max size of 500kb</b></span>
                    <div class="upload-avatar">
                        <el-upload class="upload-demo" action="" :auto-upload="false" :on-change="setFile" :on-remove="handleFileRemove" :limit="1">
                            <el-button slot="trigger" size="small" type="primary">Select file</el-button>
                        </el-upload>
                    </div>
                </label>

                <label for="name">
                    <span class="label-block">Full name <b>John Doe</b></span>
                    <input type="text" name="name" placeholder="Name" v-model="user.name">
                </label>

                <label for="location">           
                    <span class="label-block">Location <b>New York, United States</b></span>
                    <input type="text" name="location" placeholder="Location" v-model="user.location">
                </label>

                <label for="bio">
                    <span class="label-block">Bio <b>{{ bioLength }} / 140</b></span>
                    <textarea name="bio" placeholder="Who are you?" v-model="user.bio" :max="140" @keydown="onKeyDown" palceholder="Tell others how awesome you are"></textarea>
                </label>

                <label for="username">
                    <span class="label-block">Username <b>https://creativeplace.io/<i>{{ user.username }}</i></b></span>
                    <input type="text" name="username" placeholder="Username" v-model="user.username">
                </label>

                <label for="email">           
                    <span class="label-block">E-mail address <b>john@example.com</b></span>
                    <input type="text" name="email" placeholder="E-Mail" v-model="user.email">
                </label>

                <label for="link">           
                    <span class="label-block">Personal link <b>Self promotion e.g. http://{{ user.name }}.com</b></span>
                    <input type="text" name="link" placeholder="Link" v-model="user.link">
                </label>

                <button type="button" class="submit-account-form" @click="updateUserData()">{{ submitText }}</button>  
            </form>

            <edit-tags></edit-tags>

            <social-profiles></social-profiles>

            <change-password></change-password>
        </div>
        <div class="HolyGrail-preview">
            <affix relative-element-selector="#left-side" :offset="{ top: 77, bottom: 0 }">        
                <div class="panel preview-floating-sidebar" draggable="off">
                    <section class="panel-section no-last">
                        <div class="profile-avatar-wrapper">
                            <div v-if="liveAvatar" draggable="false" class="user-profile-image" :style="'background-image: url(' + liveAvatar + ');'"></div>
                            <div v-else draggable="false" class="user-profile-image" :style="'background-image: url(' + avatar + ');'"></div>
                        </div>
                        <div class="profile-info-wrapper">
                            <h3 class="profile-name">{{ user.name }}</h3>
                            <h4 class="profile-location">{{ user.location }}</h4>
                            <div class="networking-buttons">
                                <div class="follow"><button>Follow</button></div>
                                <div class="user-friendable-btn"><button>Add Friend</button></div>
                            </div>
                        </div>
                        <div class="pill-line" v-bind:class="user.bio ? 'has-bio' : 'no-bio'">
                            <span class="rating-pill">CP {{ user.rating }}</span>
                        </div>
                        <p class="bio">{{ user.bio }}</p>
                    </section>

                    <section class="panel-section no-last" v-if="tags.length > 0">
                        <h3 class="panel-header">Creative tags</h3>
                        <div class="tag-container-pub">
                            <div v-for="(index, tag) in tags" :key="tag" class="user-tag-pub">{{ index.name }}</div>
                        </div>
                    </section>

                    <section class="panel-section no-last" v-if="socials.length > 0">
                        <h3 class="panel-header">Socials</h3>
                        <div v-for="social in socials" class="user-socials-pub">
                            <div class="user-social" :style="'mask-image: url(/resources/socials/' + social + '.svg);'"></div>
                        </div>
                    </section>
                </div>

            </affix>
        </div>
    </div>
</template>

<script>
    import ElementUI from 'element-ui';
    import 'element-ui/lib/theme-chalk/index.css';
    Vue.use(ElementUI);

    import VueLocalStorage from 'vue-localstorage';
    Vue.use(VueLocalStorage, {
        name: 'storage'
    })

    export default {
        props: ['avatar', 'route', 'routeimg'],
        data: function () {
            return {
                liveAvatar : false,
                max : 140,
                token : null,
                tags : [],
                socials : [],
                avatarFile : null,
                submitText : 'Save',
                windowHeight : 0,
                elements : null,
                user : {
                    avatar : null,
                    name : null,
                    location : null,
                    username : null,
                    bio : null,
                    email : null,
                    link : null,
                    rating : null,
                },
            }
        },
        methods: {
            handleFileRemove: function(file, fileList) {
                if(file)
                    this.liveAvatar = false;
            },

            submitUpload() {
                this.$refs.upload.submit();
            },

            setFile: function(file, fileList) {
                this.avatarFile = file.raw;
                this.liveAvatar = file.url;
            },

            updateUserData: function() {
                var formData = new FormData();
                if(this.avatarFile)
                    formData.append("avatar", this.avatarFile);
                
                formData.append("name", this.user.name);
                formData.append("location", this.user.location);
                formData.append("username", this.user.username);
                
                if(this.user.bio)
                    formData.append("bio", this.user.bio);
                
                formData.append("email", this.user.email);
                
                if(this.user.link)
                    formData.append("link", this.user.link);

                this.submitText = 'loading...';

                axios.post('/account/update', formData).then(response => { 
                    if(response.data == true) {
                        this.submitText = 'Save';
                        flash('Your account has been updated!', 'success');
                    }else {
                        console.log(response);
                        this.submitText = 'Save';
                        flash('An error occured, please check the form and try again.', 'success');
                    }
                });


            },

            updatePreviewTags: function(data) {
                console.log(data)
                this.tags = data;
            },

            bindTags: function() {
                axios.get('/account/tags/get').then(response => { 
                    this.tags = response.data;
                });
            },

            onKeyDown(evt){
                if (this.bioLength >= this.max) {
                    if (evt.keyCode != 8) {
                        evt.preventDefault()
                        return
                    }
                }
            },

            updatePreviewSocials: function(data) {
                var newSocials = [];
                for (const [key, value] of Object.entries(data)) {
                    if(value != null && value != '') {
                        newSocials.push(key);
                    }
                }
                console.log(newSocials);
                this.socials = newSocials;
            },

            hasClass(element, classNameYo) {
                return (' ' + element.className + ' ').indexOf(' ' + classNameYo + ' ') > -1;
            },
        },
        mounted: function () {
            axios.get('/account/user/data').then(response => { 
                this.user.name = response.data.name;
                this.user.location = response.data.location;
                this.user.username = response.data.username;
                this.user.bio = response.data.bio;
                this.user.email = response.data.email;
                this.user.link = response.data.link;
                this.user.rating = response.data.rating;
            });

            axios.post('/account/socials/get', {user_id: $('meta[name="user-id"]').attr('content')}).then(response => { 
                for (const [key, value] of Object.entries(response.data)) {
                    //console.log(`${key} ${value}`);
                    if(value != null) {
                        this.socials.push(key);
                    }
                }
            });

            window.events.$on('tagUpdates', this.updatePreviewTags);

            this.token = token.content;

            this.bindTags();

            window.events.$on('socialsUpdated', this.updatePreviewSocials);
        },
        computed: {
            bioLength: function() {
                if(this.user.bio){
                    return this.user.bio.length;
                }
                return 0;
            },

            linkWithoutProtocol: function() {
                if(this.user.link) {
                    return this.user.link.replace(/(^\w+:|^)\/\//, '');
                }
                return
            }
        },
    }
</script>

