<template>
    <div v-if="this.friendship" class="user-friendable-btn">
        <div v-if="this.state === 'friends'">
            <button :disabled="disabled" @click="unfriend">
                <span>{{ this.text }}</span>
            </button>
        </div>
        <div v-else-if="this.state === 'clean'">
            <button :disabled="disabled" @click="befriend">
                <span>{{ this.text }}</span>
            </button>
        </div>
        <div v-else-if="this.state === 'from'">
            <button :disabled="disabled" @click="acceptFriend">
                <span>{{ this.text }}</span>
            </button>
        </div>
        <div v-else-if="this.state === 'to'">
            <button :disabled="disabled" disabled>
                <span>{{ this.text }}</span>
            </button>
        </div>
    </div>
</template>

<script>
export default {
  name: 'FriendButton',
  props : {
      reciver : {
          required : true
      },
      compressed : {
          required : true
      }
  },
  data () {
    return {
        userId : this.reciver,
        text : '',
        state : 'not_friends',
        friendship : false,
        disabled : false,
    }
  },
  beforeMount () {
    this.isFriends()
        .then((data) => {
            if(data.identifier === 'not_logged') {
               return false;
            }
            if(data.status) { // are friends
                this.state = data.identifier;
                this.text = data.text;
                this.friendship = data.status;
            }else { // are not friend yet
                this.pendingRequestExists()
                    .then((data) => {
                        if(data.identifier == 'to') { // friend request send to id
                            this.state = data.identifier;
                            this.text = data.text;
                            this.friendship = data.status;
                        }else if(data.identifier == 'from') { // friend request recieved from id
                            this.state = data.identifier;
                            this.text = this.compressed ? 'Accept' : data.text;
                            this.friendship = data.status;
                        }else { // no apparent activity or relation go ahead and befriend
                            this.state = data.identifier;
                            this.text = data.text;
                            this.friendship = true;
                        }
                        // deadzone
                    })
            }
            
        })
  },
  methods : {
      isFriends() { // is id and auth friends?
        var that = this
        return axios.post('/isFriends', { id: this.userId })
        .then(function (response) {
            return response.data;
        }).catch(function (error) {console.log(error);});
      },

      pendingRequestExists() { // does auth have a current pending request attachment?
        var that = this
        return axios.post('/isRequestPending', { id: this.userId })
        .then(function (response) {
            return response.data;
        }).catch(function (error) {console.log(error);});
      },
      
      acceptFriend() { // accept id
        var that = this
        return axios.post('/acceptFriend', { id: this.userId })
        .then(function (response) {
            that.disabled = true;
            that.text = 'loading..';
            if(response.data.status) {
                that.text = response.data.text;
            }
            return response.data;
        }).catch(function (error) {console.log(error);});
      },

      befriend() { // befriend id
        var that = this
        return axios.post('/requestFriendship', { id: this.userId })
        .then(function (response) {
            that.disabled = true;
            that.text = 'loading..';
            if(response.data.status) {
                that.text = response.data.text;
            }
            return response.data;
        }).catch(function (error) {console.log(error);});
      },

      unfriend() { // remove id as a friend
        var that = this
        return axios.post('/revokeFriendship', { id: this.userId })
        .then(function (response) {
            that.disabled = true;
            that.text = 'loading..';
            if(response.data.status) {
                that.text = response.data.text;
            }
            //return response.data;
        }).catch(function (error) {console.log(error);});
      }
  }
}
</script>

<style>
    [v-cloak] > * { display:none; }
    [v-cloak]::before { content: "loading..."; }
</style>
