<template>
    <div>
        <aside class="friends slideout-panel" v-bind:class="returnStateClass()">
            <div class="sidebar-top">
                <div class="close-friends" @click="toggleSelf"></div>
                Friend list
            </div>  

            <div class="friend" v-if="friends" v-for="friend in friends">
                <img :src="friend.avatar">
                <span>
                    {{ friend.name }} 
                    <status :friend="friend.id" :onlineusers="online"></status>
                </span>
            </div>
        
            <div v-else>
                lol du har ingen venner din noob
            </div>
        </aside>
    </div>
</template>

<script>
    export default {
        props: ['friends', 'online', 'state'],
        data: function () {
            return {
                stateChanged : false,
                panelState : false,
                outClass : 'panel-slide-out',
                inClass : 'panel-slide-in',
            }
        },
        methods: {
            toggleSelf: function() {
                var newState = this.panelState ? false : true;
                this.stateChanged = true;
                this.panelState = newState;
                window.events.$emit('friendsPanelToggledBackchannel', newState);
            },

            returnStateClass: function() {
                if(this.stateChanged) { 
                    return this.panelState ? this.inClass : this.outClass;
                }
            }
        },
        mounted: function () {
            window.events.$on('friendsPanelToggled', this.toggleSelf);
        }
    }
</script>