<template>
    <div>
        <div class="tag-container-pub">
            <div v-for="tag in tags" class="user-tag-pub">{{ tag.name }}</div>
        </div>
    </div>
</template>

<script>    
    export default {
        data: function () {
            return {
                tags : []
            }
        },
        methods: {
            bindTags: function() {
                axios.get('/account/tags/get').then(response => { 
                    this.tags = response.data;
                });
            },
        },
        mounted: function () {
            this.bindTags();
        },
    }
</script>

