<template>
    <li v-bind:class="notifications.length == 0 ? 'unread-notifications' : 'notifications'">
        <ul class="notifications-dropdown">          
            <li v-for="notification in notifications">
                <div v-if="notification.type == 'friend_request'" class="notification-block">
                    <div class="friend-notification">
                        <div class="avatar-notification">
                            <img :src="notification.data.avatar">
                        </div>
                        <div class="friend-text-part">
                        <span >Friend request from {{ notification.data.name }}</span>
                        <a v-on:click="markAsRead(notification)">
                            <befriend-button :reciver="notification.data.id" :compressed="true"></befriend-button>
                        </a>
                        <button v-on:click="denyFriend(notification.data.id, notification)">{{ denyText }}</button>
                        </div>
                    </div>
                    <hr/>
                </div>
            </li>

        </ul>
    </li>
</template>

<script>
export default {
    data() {
        return {
            status: false,
            denyText: 'Deny'
        }
    },
    props: ['notifications'],
    methods: {
        markAsRead: function (notification) {
            console.log(notification.notification);
            var data = {
                id: notification.notification
            };
            axios.post('/notification/read', data).then(response => {
                console.log(response);
            });
        }, 
        denyFriend(id, notification) { // accept id
            var that = this;
                        
            return axios.post('/denyFriend', { id: id })
            .then(function (response) {
                that.disabled = true;
                that.text = 'loading..';
                if(response.data.status) {
                    that.text = response.data.text;
                }
                that.markAsRead(notification);
                return response.data;
            }).catch(function (error) {console.log(error);});
        },
    },
    components: {
        'befriend-button': require('./Friendship.vue')
    }
}
</script>
