<template>
    <div  id="password" class="is-12 flex wrap" style="padding-right: 25px;">
        <h2 class="account-section-header with-line top">Change password</h2>

        <label for="current" v-bind:class="errors.currentPassword ? 'error' : ''">           
            <span class="label-block">Current password</span>
            <input type="password" name="current" v-model="currentPassword" @keyup.enter="updatePassword">
        </label>

        <label for="new" v-bind:class="errors.newPassword ? 'error' : ''">           
            <span class="label-block">New password<b>Min. 6 characters</b></span>
            <input type="password" name="new" v-model="newPassword" @keyup.enter="updatePassword">
        </label>

        <label for="new-confirm" v-bind:class="errors.confirmNewPassword ? 'error' : ''">           
            <span class="label-block">Confirm new password<b>Equal to the new password</b></span>
            <input type="password" name="new-confirm" v-model="confirmNewPassword" @keyup.enter="updatePassword">
        </label>

        <button type="button" class="submit-account" @click="updatePassword">{{ buttonText }}</button>
    </div>
</template>

<script>    
    export default {
        data: function () {
            return {
                currentPassword : null,
                newPassword : null,
                confirmNewPassword : null,
                buttonText : 'Change password',
                errors : {
                    currentPassword : false,
                    newPassword : false,
                    confirmNewPassword : false,
                },
            }
        },
        methods: {
            updatePassword: function() {
                this.buttonText = 'Loading...';
                this.errors = {
                    currentPassword : false,
                    newPassword : false,
                    confirmNewPassword : false,
                };

                if(this.currentPassword == null || this.currentPassword == '') { 
                    this.errors.currentPassword = true;
                }

                if(this.newPassword == null || this.newPassword == '') { 
                    this.errors.newPassword = true;
                }

                if(this.confirmNewPassword == null || this.confirmNewPassword == '' || this.confirmNewPassword !== this.newPassword) { 
                    this.errors.confirmNewPassword = true;
                }

                if(this.errors.currentPassword || this.errors.newPassword || this.errors.confirmNewPassword) {
                    flash('Please check the password form for errors.', 'error');
                    this.buttonText = 'Change password';
                    return;
                }


                axios.post('/account/change/password', { 
                    current : this.currentPassword,
                    new : this.newPassword,
                    confirm : this.confirmNewPassword
                }).then(response => { 
                    if(response.data.status) {
                        this.currentPassword = null;
                        this.newPassword = null;
                        this.confirmNewPassword = null;
                        this.buttonText = 'Change password';
                        flash(response.data.message, 'success');
                    }else {
                        this.buttonText = 'Change password';
                        flash(response.data.message, 'error');
                    }
                });

            },

        },
    }
</script>

