<template>
    <div class="panel">
        <section class="panel-section">
            <h2 class="panel-header-big">Server status</h2>
        </section>
        <section class="panel-section panel-slim">
            <div class="server-status-box">
                <span>Creatives online</span>
                <b>432</b>
            </div>
        </section>
        <section class="panel-section panel-slim">
            <div class="server-status-box">
                <span>Creatives in sessions</span>
                <b>32</b>
            </div>
        </section>
        <section class="panel-section panel-slim">
            <div class="server-status-box">
                <span>Creatives in queue</span>
                <b>{{ queueCount }}</b>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                queueCount : 0,
                online : 0
            }
        },
        methods: {
            updateQueueCount: function(count) {
                this.queueCount = count;
            }
        },
        mounted: function () {
            window.events.$on('analyticQueueData', this.updateQueueCount);
        }
    }
</script>

