<template>
    <div>
        <div class="loader-placeholder">
            <div v-if="queueSearch" class="animated fadeIn">
                <h2 class="queue-status">{{ searchStatusText }}<b v-if="!showPrompt"><span class="dot"></span></b></h2>
            </div>
        </div>
        <div class="world-map-bg" draggable="off">
            <div v-if="showPrompt" class="session-prompt-background-tint">
                <div class="session-prompt animated bounceIn">
                    <div class="prompt-content">
                        <div class="content-header">
                            <img :src="promptData.avatar">
                            <span class="name">{{ promptData.name }}</span>
                            <span class="location">{{ promptData.location }}</span>
                        </div>
                        <div class="progress">
                            <vue-circle :progress="100" :size="80" :reverse="false" line-cap="round" :fill="fill" empty-fill="rgba(255, 255, 255, .27)" :animation-start-value="1" :animation="animation" :start-angle="4.73" insert-mode="append" :thickness="5" :show-percent="false" ref="myUniqueID">
                                    <p class="progress-seconds">{{ this.seconds }}</p>
                                </vue-circle>
                        </div>
                        <div class="action-buttons">
                            <button @click="queuePrompt('accept')">Accept</button>
                            <button @click="queuePrompt('deny')">Deny</button>
                        </div>
                    </div>
                    <div class="prompt-texture"></div>
                </div>
            </div>
            <div class="map-users-overlay" v-if="queueSearch">
                <a v-for="(avatar, key) in avatars[1]" :style="'top:' + sequences[0][key][0] + '%; left:' + sequences[0][key][1] + '%; animation-delay: ' + Math.ceil(Math.random()*13) + 's;'" :href="'/' + avatar['username']" class="animated bounceIn">
                    <div class="users-overlay"></div>
                    <img :src="avatar['path']" class="image-identifier">
                </a>
                <!-- fix -->
                <a v-for="(avatar, key) in avatars[2]" :style="'top:' + sequences[1][key][0] + '%; left:' + sequences[1][key][1] + '%; animation-delay: ' + Math.ceil(Math.random()*13) + 's;'" :href="'/' + avatar['username']" class="animated bounceIn">
                    <div class="users-overlay"></div>
                    <img :src="avatar['path']" class="image-identifier">
                </a>
            </div>
            <img v-bind:class="[{ active: queueSearch }, 'map-bg']" src="/resources/world-map.svg">
        </div>
    </div>
</template>

<script>
    import VueCircle from 'vue2-circle-progress';
    

    export default {
        components: {
            VueCircle
        },
        props: ['queue', 'test2'],
        data: function() {
            return {
                queueSearch : false,
                animation : { duration: 15000, easing: "linear" },
                seconds : 15,
                fill : { color: "#ffffff" },
                
                avatars : [],
                pastAvatarSequences : [1,5,3], // not used yet
                currentAvatarSequences : Math.ceil(Math.random()*2), // not used yet

                dotInterval : null,
                dotTimeout : null,

                showPrompt : false,
                promptData : [],
                searchStatusText : 'Searching for creatives',
                queueTimer : null,
                progressCounterInit : null,
                promptHandled : true,
                sequences : [[
                        [14, 23.7],
                        [26,16],
                        [69,28.6],
                        [56.9, 54.2],
                        [27, 63.8],
                        [81,81],
                        [11,70.5]
                    ], [
                        [19, 31.7],
                        [49,16],
                        [74,34.6],
                        [53.9, 58.2],
                        [67, 84],
                        [17,84.5],
                        [30,73.8]
                    ], [
                        [14, 23.7],
                        [26,16],
                        [69,28.6],
                        [56.9, 54.2],
                        [27, 63.8],
                        [81,81],
                        [11,70.5]
                    ]
                ],
            }
        },
        methods: {
            queueEventStarted: function() {
                // gets (avatar, username) in same array format as positions arrays (this)
                axios.get('/session/avatars').then(response => {
                    this.avatars = response.data;
                    this.queueSearch = true;
                });

                // dot dot dot searching animation
                this.dotTimeout = setTimeout(() => {
                    this.dotInterval = setInterval(() => {
                        var dot = document.querySelectorAll('.dot')[0];
                            switch(dot.innerHTML) {case '.': dot.innerHTML = '..'; break;case '..': dot.innerHTML = '...'; break;case '...': dot.innerHTML = ''; break;default: dot.innerHTML = '.';
                        }
                    }, 1000);
                }, 1000);
            },
            
            queueEventEnded: function() {
                // clears interval and timeout from dot animation when session search is ended
                clearInterval(this.dotInterval);
                clearTimeout(this.dotTimeout);
                
                // unset search vars
                this.queueSearch = false;
            },

            updateProgresses: function() {
                // starts the visible progress counter at 0.1s offset
                this.progressCounterInit = setTimeout(() => {
                    this.$refs.myUniqueID.updateProgress(0);
                }, 100);

                // starts the seconds countdown
                this.queueTimer = setInterval(() => {
                    if(this.seconds == 0) {
                        this.clearPromptTimer();
                        if(!this.promptHandled) {
                            this.promptHandled = true;
                            this.queuePrompt('timeout');
                        }
                        // this.seconds = 15;
                    }else {
                        this.seconds--;
                    }
                }, 1000);
            },

            clearPromptTimer: function () {
                clearInterval(this.queueTimer);
                clearTimeout(this.progressCounterInit);
                this.seconds = 15;
            },

            queueSessionFound: function(data) {
                // clears interval and timeout from dot animation when session pairing happens
                clearInterval(this.dotInterval);
                clearTimeout(this.dotTimeout);

                // unset / change search vars
                this.searchStatusText = 'Creative session found!'

                // sets prompt data
                this.promptHandled = false;
                this.showPrompt = true;
                this.promptData = data;
                this.updateProgresses();
            },

            queuePrompt: function (action) {
                // handles prompt events
                switch(action) {
                    case 'accept':
                        this.showPrompt = false;
                        window.events.$emit('queuePromptAccepted');
                        flash('Session accepted', 'success');
                        this.clearPromptTimer();
                        this.promptHandled = true;
                        this.searchStatusText = 'Searching for creatives'
                        break;
                    case 'deny':
                        this.showPrompt = false;
                        window.events.$emit('queuePromptDenied');
                        flash('Session denied', 'success');
                        this.clearPromptTimer();
                        this.promptHandled = true;
                        this.searchStatusText = 'Searching for creatives'
                        break;
                    case 'timeout':
                        this.showPrompt = false;
                        this.searchStatusText = 'Searching for creatives'
                        this.clearPromptTimer();
                        window.events.$emit('queuePromptTimeout');
                        flash('You didnt respond in time, you have been removed from the queue.', 'success');
                        break;
                }
            },

        },
        mounted: function() {
            // catches and binds emitted events from other components
            window.events.$on('queueStated', this.queueEventStarted);
            window.events.$on('queueEnded', this.queueEventEnded);
            window.events.$on('sessionFound', this.queueSessionFound);
        }
    }
</script>

