<template>
<div>
    <div class="queue-settings panel">
        <h2 class="panel-header">Queue settings</h2>
        <hr class="panel-seperator"/>
    
        <form action="" class="configurator">
            <div v-bind:class="[optionsVisibility ? slideDownClass : slideUpClass, 'configurator-opton-replacement-wrapper']">
                <section class="panel-section panel-slim">
                    <label class="label-conf">Session length <b style="float: right;">{{ formatSliderOutput(timeRangeSlider) }}</b></label>
                </section>
        
                <section class="panel-section panel-slim">
                    <label class="label-conf">Creative categories <i class="dropdown-arrow"></i> <b style="float: right;" class="filter-pill" @click="categoryVisibility = categoryVisibility ? false : true">{{ checkedCategories.length }}</b></label>
                    <ul v-bind:class="[categoryVisibility ? '' : categoryCollapsedClass, 'checked-dropdown']">
                        <li v-for="category in checkedCategories" v-bind:class="checkedCategories.length == 1 ? 'no-border' : ''">{{ category }}</li>
                    </ul>
                </section>
        
                <section class="panel-section panel-slim">
                    <label class="label-conf">Estimated wait time <b style="float: right;">2m 34s</b></label>
                </section>
            </div>

            <div v-bind:class="[optionsVisibility ? slideUpClass : slideDownClass, 'configurator-opton-wrapper']">
                
                <section class="panel-section" style="padding: 20px 25px 10px 25px;">
                    <label class="label-conf">Session length <b style="float: right;">{{ formatSliderOutput(timeRangeSlider) }}</b></label>
                    <div class="slider-wrapper">
                        <el-slider v-model="timeRangeSlider" @change="handleSlider" range show-stops :max="rangeLength" :format-tooltip="formatTooltip" :show-tooltip="false"></el-slider>
                    </div>
                </section>
                
                <section class="panel-section">
                    <label class="label-conf">Choose categories</label>
                    <el-dropdown :hide-on-click="false">
                        <el-button type="primary">
                            <b style="font-weight: 600; line-height: 20px; float: left; color: #444;">Categories chosen</b><i class="el-icon-arrow-down el-icon--right" style="float: left;"></i><b style="float: right;" class="filter-pill-variation" v-if="categoryPillValue">{{ categoryPillValue }}</b>
                        </el-button>

                        <el-dropdown-menu slot="dropdown">
                            <el-checkbox-group v-model="checkedCategories" @change="handleCheckedCategoriesChange">
                                <el-dropdown-item v-for="category in categories" :label="category" :key="category">
                                    <el-checkbox :label="category" :key="category">{{category}}</el-checkbox>
                                </el-dropdown-item>
                            </el-checkbox-group>

                            <el-dropdown-item divided><el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">All categories</el-checkbox></el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </section>
            </div>
            <section class="panel-section">
                <input type="button" v-bind:value="submitText" v-bind:disabled="submitDisabled" class="find-session-btn" @click="queueInProgress ? stopQueue() : startQueue()">
            </section>
        </form>
    </div>
    <div class="queue-information">
        Notice: When signing up for a session you are commiting up to {{ rangeConverter[timeRangeSlider[1]] }} + 5m for votation. Exiting a session prematurely will lead to a penalty.
    </div>
    </div>
</template>

<script>
    import ElementUI from 'element-ui';
    import 'element-ui/lib/theme-chalk/index.css';
    import VueLocalStorage from 'vue-localstorage';

    Vue.use(VueLocalStorage, {
        name: 'storage'
    })
    
    Vue.use(ElementUI);

    export default {
        props: ['test', 'test2'],
        data: function () {
            return {
                categoryPillValue : '',
                categoryVisibility : false,
                categoryCollapsedClass : 'collapsed',
                pauseQueue : true,

                queueInProgress : false,
                
                optionsVisibility : true,
                slideUpClass : 'slide-up',
                slideDownClass : 'slide-down',

                checkAll : true,
                isIndeterminate : true,
                checkedCategories : [],
                categories : [],

                timeRangeSlider : [0, 6],
                rangeConverter : {},
                rangeLength : 10,

                submitText : 'Find session',

                queue: null,

                submitDisabled : false,
            }
        },
        methods: {
            handleCheckAllChange: function(val) {
                // When check all in categories is clicked
                let checked = val ? this.categories : [];
                this.checkedCategories = checked;
                Vue.storage.set('creative.categories', JSON.stringify(checked));     
                this.isIndeterminate = false;
                this.updateCategoryPill();
            },

            handleCheckedCategoriesChange: function(value) {
                // When any category checkbox is clicked
                let checkedCount = value.length;
                this.checkAll = checkedCount === this.categories.length;
                this.isIndeterminate = checkedCount > 0 && checkedCount < this.categories.length;
                Vue.storage.set('creative.categories', JSON.stringify(this.checkedCategories));
                this.updateCategoryPill();
            },

            formatSliderOutput: function(val) {
                // formats the session length slier's output to register a time instead of symbolic value
                var sliderOutput = this.rangeConverter[val[0]] + ' - ' + this.rangeConverter[val[1]];
                return sliderOutput;
            },

            updateCategoryPill: function() {
                if(this.checkedCategories.length == this.categories.length) {
                    this.categoryPillValue = 'All';
                }else if(this.checkedCategories.length > 0) {
                    this.categoryPillValue = this.checkedCategories.length;
                }else if(this.checkedCategories.length == 0) {
                    this.categoryPillValue = false;
                }
            },

            formatTooltip: function(val) {
                return this.rangeConverter[val];
            },

            startQueue: function () {
                // starts the session queue
                this.optionsVisibility = false;
                this.submitText = 'Cancel queue';

                //searches for 
                // this.queue = setInterval(() => {
                //     axios.post('/session/queue/ping', {
                //         time: this.timeRangeSlider,
                //         timeconverter: this.rangeConverter,
                //         categories: this.checkedCategories,
                //     }).then(response => {
                //         console.log(response.data);
                //         window.events.$emit('analyticQueueData', response.data.queueData);
                //     });
                // }, 3000);

                this.pauseQueue = false;

                this.pollQueue();

                // signals that the queue is in progress
                this.queueInProgress = true;
                window.events.$emit('queueStated');            

                //test prompt
                // setTimeout(() => {
                //     this.sessionFound();
                // }, 8000);
            },

            removeFromQueue: function() {
                axios.get('/session/queue/leave').then(response => {
                    console.log(response.data.status);
                });
            },

            pollQueue: function () {
                if(!this.pauseQueue) {
                    axios.post('/session/queue/ping', {
                        time: this.timeRangeSlider,
                        timeconverter: this.rangeConverter,
                        categories: this.checkedCategories,
                    }).then(response => {
                        console.log(response.data.potentials);
                        console.log(JSON.parse(response.data.potentials.potentials));
                        if(JSON.parse(response.data.potentials.potentials)) {
                            // kun til fremvisningen
                            const potentials = JSON.parse(response.data.potentials.potentials);
                            this.sessionFound(Object.keys(potentials)[0]);
                        }
                        window.events.$emit('analyticQueueData', response.data.queueData);
                    });
                }
                this.queue = setTimeout(this.pollQueue, 3000);
            },

            stopQueue: function () {
                axios.get('/session/queue/leave').then(response => {
                    console.log(response.data.status);
                });
                clearTimeout(this.queue);
                window.events.$emit('queueEnded');

                this.queueInProgress = false;
                this.submitDisabled = false;
                this.optionsVisibility = true;
                this.categoryVisibility = false;
                this.submitText = 'Find session';
            },

            sessionFound: function() {
                this.submitDisabled = true;
                this.pauseQueue = true;
                axios.get('/session/queue/pop').then(response => {
                    window.events.$emit('sessionFound', response.data);
                    console.log(response.data);
                });
            },

            handleSlider: function(val) {
                Vue.storage.set('creative.session.length', JSON.stringify(val));
            },

        },
        mounted: function () {
            // fetches categories and sets them in the options selector
            axios.get('/categories/get').then(response => { 
                this.categories = response.data;
                let categoriesStored = Vue.storage.get('creative.categories', response.data);
                this.checkedCategories = Array.isArray(categoriesStored) ? categoriesStored : JSON.parse(categoriesStored);           
                
                if(this.checkedCategories.length == 0) {
                    this.checkedCategories = this.categories;
                }

                // inits pill count when checked is set from either storage or config
                this.updateCategoryPill();
            });


            // fetches session durations and correlations
            axios.get('/durations/get').then(response => { 
                this.rangeConverter = response.data;
                this.rangeLength = (this.rangeConverter.length - 1);
            });

            this.timeRangeSlider = JSON.parse(Vue.storage.get('creative.session.length', this.timeRangeSlider));

            window.events.$on('queuePromptAccepted', () => {
                console.log('eyy accepted');
                this.stopQueue();
            });

            window.events.$on('queuePromptDenied', () => {
                console.log('eyy Denied');
                this.stopQueue();
            });

            window.events.$on('queuePromptTimeout', () => {
                console.log('eyy timeout');
                this.stopQueue();
            });

            // // test prompt
            // setTimeout(() => {
            //     this.sessionFound();
            // }, 1000);     
            
        }
    }
    
</script>


