<template>
    <div id="socials" class="is-12 flex wrap" style="padding-right: 25px;">
        <h2 class="account-section-header with-line top">Social profiles</h2>

        <div class="social-section" v-bind:class="this.expanded ? 'expanded' : ''">
            <label for="facebook" class="social-label slash">
                <span class="label-block">Facebook</span>
                <div class="social-wrap i-facebook" v-bind:class="socials.facebook ? 'active-social' : ''">
                    <input type="text" name="facebook" v-model="socials.facebook" @keyup="updateSocialPreview" @keyup.enter="updateSocials" placeholder="Username">
                </div>
            </label>

            <label for="instagram" class="social-label slash">
                <span class="label-block">Instagram</span>
                <div class="social-wrap i-instagram" v-bind:class="socials.instagram ? 'active-social' : ''">
                    <input type="text" name="instagram" v-model="socials.instagram" @keyup="updateSocialPreview" @keyup.enter="updateSocials" placeholder="Username">
                </div>
            </label>

            <label for="twitter" class="social-label at">
                <span class="label-block">Twitter</span>
                <div class="social-wrap i-twitter" v-bind:class="socials.twitter ? 'active-social' : ''">
                    <input type="text" name="twitter" v-model="socials.twitter" @keyup="updateSocialPreview" @keyup.enter="updateSocials" placeholder="Username">
                </div>
            </label>

            <label for="dribbble" class="social-label slash">
                <span class="label-block">Dribbble</span>
                <div class="social-wrap i-dribbble" v-bind:class="socials.dribbble ? 'active-social' : ''">
                    <input type="text" name="dribbble" v-model="socials.dribbble" @keyup="updateSocialPreview" @keyup.enter="updateSocials" placeholder="Username">
                </div>
            </label>

            <label for="behance" class="social-label slash">
                <span class="label-block">Behance</span>
                <div class="social-wrap i-behance" v-bind:class="socials.behance ? 'active-social' : ''">
                    <input type="text" name="behance" v-model="socials.behance" @keyup="updateSocialPreview" @keyup.enter="updateSocials" placeholder="Url">
                </div>
            </label>

            <label for="linkedin" class="social-label slash">
                <span class="label-block">LinkedIn</span>
                <div class="social-wrap i-linkedin" v-bind:class="socials.linkedin ? 'active-social' : ''">
                    <input type="text" name="linkedin" v-model="socials.linkedin" @keyup="updateSocialPreview" @keyup.enter="updateSocials" placeholder="Url">
                </div>
            </label>

            <label for="codepen" class="social-label slash">
                <span class="label-block">Codepen</span>
                <div class="social-wrap i-codepen" v-bind:class="socials.codepen ? 'active-social' : ''">
                    <input type="text" name="codepen" v-model="socials.codepen" @keyup="updateSocialPreview" @keyup.enter="updateSocials" placeholder="Username">
                </div>
            </label>

            <label for="medium" class="social-label slash">
                <span class="label-block">Medium</span>
                <div class="social-wrap i-medium" v-bind:class="socials.medium ? 'active-social' : ''">
                    <input type="text" name="medium" v-model="socials.medium" @keyup="updateSocialPreview" @keyup.enter="updateSocials" placeholder="Username">
                </div>
            </label>

            <label for="github" class="social-label slash">
                <span class="label-block">Github</span>
                <div class="social-wrap i-github" v-bind:class="socials.github ? 'active-social' : ''">
                    <input type="text" name="github" v-model="socials.github" @keyup="updateSocialPreview" @keyup.enter="updateSocials" placeholder="Username">
                </div>
            </label>

            <label for="googleplus" class="social-label slash">
                <span class="label-block">Google +</span>
                <div class="social-wrap i-googleplus" v-bind:class="socials.googleplus ? 'active-social' : ''">
                    <input type="text" name="googleplus" v-model="socials.googleplus" @keyup="updateSocialPreview" @keyup.enter="updateSocials" placeholder="Username">
                </div>
            </label>

            <label for="flickr" class="social-label slash">
                <span class="label-block">flickr</span>
                <div class="social-wrap i-flickr" v-bind:class="socials.flickr ? 'active-social' : ''">
                    <input type="text" name="flickr" v-model="socials.flickr" @keyup="updateSocialPreview" @keyup.enter="updateSocials" placeholder="Username">
                </div>
            </label>

            <label for="tumblr" class="social-label slash">
                <span class="label-block">tumblr</span>
                <div class="social-wrap i-tumblr" v-bind:class="socials.tumblr ? 'active-social' : ''">
                    <input type="text" name="tumblr" v-model="socials.tumblr" @keyup="updateSocialPreview" @keyup.enter="updateSocials" placeholder="Username">
                </div>
            </label>

            <label for="unsplash" class="social-label slash">
                <span class="label-block">unsplash</span>
                <div class="social-wrap i-unsplash" v-bind:class="socials.unsplash ? 'active-social' : ''">
                    <input type="text" name="unsplash" v-model="socials.unsplash" @keyup="updateSocialPreview" @keyup.enter="updateSocials" placeholder="Username">
                </div>
            </label>

            <label for="youtube" class="social-label slash">
                <span class="label-block">youtube</span>
                <div class="social-wrap i-youtube" v-bind:class="socials.youtube ? 'active-social' : ''">
                    <input type="text" name="youtube" v-model="socials.youtube" @keyup="updateSocialPreview" @keyup.enter="updateSocials" placeholder="Username">
                </div>
            </label>

            <label for="creativemarket" class="social-label slash">
                <span class="label-block">Creative Market</span>
                <div class="social-wrap i-creativemarket" v-bind:class="socials.creativemarket ? 'active-social' : ''">
                    <input type="text" name="creativemarket" v-model="socials.creativemarket" @keyup="updateSocialPreview" @keyup.enter="updateSocials" placeholder="Username">
                </div>
            </label>

            <label for="etsy" class="social-label at">
                <span class="label-block">Etsy</span>
                <div class="social-wrap i-etsy" v-bind:class="socials.etsy ? 'active-social' : ''">
                    <input type="text" name="etsy" v-model="socials.etsy" @keyup="updateSocialPreview" @keyup.enter="updateSocials" placeholder="Username">
                </div>
            </label>

            <label for="pinterest" class="social-label slash">
                <span class="label-block">pinterest</span>
                <div class="social-wrap i-pinterest" v-bind:class="socials.pinterest ? 'active-social' : ''">
                    <input type="text" name="pinterest" v-model="socials.pinterest" @keyup="updateSocialPreview" @keyup.enter="updateSocials" placeholder="Username" style="margin-bottom: 10px;">
                </div>
            </label>
        </div>

        <div class="expand-tags">
            <button @click="expandSectionToggle" type="button">Show more</button>
        </div>

        <button type="button" class="submit-account" @click="updateSocials">{{ submitText }}</button>
    </div>
</template>

<script>    
    export default {
        data: function () {
            return {
                socials : {
                    facebook : null,
                    instagram : null,
                    twitter : null,
                    dribbble : null,
                    behance : null,
                    linkedin : null,
                    github : null,
                    medium : null,
                    codepen : null,
                    pinterest : null,
                    youtube : null,
                    etsy : null,
                    creativemarket : null,
                    unsplash : null,
                    flickr : null,
                    tumblr : null,
                    googleplus : null,
                },  
                specialAccount : {
                    codepen : null,
                    linkedin : null,
                    medium : null,
                },
                expanded : false,
                submitText : 'Update socials'
            }
        },
        methods: {
            expandSectionToggle: function() {
                this.expanded = this.expanded ? false : true;
            },

            updateSocialPreview: function() {
                window.events.$emit('socialsUpdated', this.socials);
            },
        
            updateSocials: function() {
                this.submitText = 'Loading...';
                axios.post('/account/update/socials', this.socials ).then(response => { 
                    if(response.data.status = 'success') {
                        this.submitText = 'Update socials';
                        flash(response.data.message, 'success');
                    }
                });
            },
        },
        mounted: function () {
            axios.post('/account/socials/get', {user_id: $('meta[name="user-id"]').attr('content')}).then(response => { 
                this.socials.facebook = (typeof response.data.facebook != 'undefined' ? response.data.facebook : null);
                this.socials.instagram = (typeof response.data.instagram != 'undefined' ? response.data.instagram : null);
                this.socials.dribbble = (typeof response.data.dribbble != 'undefined' ? response.data.dribbble : null);
                this.socials.twitter = (typeof response.data.twitter != 'undefined' ? response.data.twitter : null);
                this.socials.behance = (typeof response.data.behance != 'undefined' ? response.data.behance : null);
                this.socials.linkedin = (typeof response.data.linkedin != 'undefined' ? response.data.linkedin : null);
                this.socials.github = (typeof response.data.github != 'undefined' ? response.data.github : null);
                this.socials.medium = (typeof response.data.medium != 'undefined' ? response.data.medium : null);
                this.socials.codepen = (typeof response.data.codepen != 'undefined' ? response.data.codepen : null);
                this.socials.pinterest = (typeof response.data.pinterest != 'undefined' ? response.data.pinterest : null);
                this.socials.youtube = (typeof response.data.youtube != 'undefined' ? response.data.youtube : null);
                this.socials.etsy = (typeof response.data.etsy != 'undefined' ? response.data.etsy : null);
                this.socials.creativemarket = (typeof response.data.creativemarket != 'undefined' ? response.data.creativemarket : null);
                this.socials.unsplash = (typeof response.data.unsplash != 'undefined' ? response.data.unsplash : null);
                this.socials.flickr = (typeof response.data.flickr != 'undefined' ? response.data.flickr : null);
                this.socials.tumblr = (typeof response.data.tumblr != 'undefined' ? response.data.tumblr : null);
                this.socials.googleplus = (typeof response.data.googleplus != 'undefined' ? response.data.googleplus : null);
            });
        },
    }
</script>


