<template>
    <div class="is-12 flex wrap page" id="tags" style="padding-right: 25px;">
            <h2 class="account-section-header with-line top">Creative tags</h2>

            <p class="account-info-box">You can make up or create your own tags, drag them around to order them as you'd like, but remember you can only have 10 so use them on the things you are most passionate about.</p>

            <ul class="list-group">
                <draggable :list="tags" class="dragArea" @end="dataFunction" :options="{animation: 250,  handle:'.handle', ghostClass: 'sortable-ghost'}">
                    <li class="list-group-item" v-for="i in tags" :key="i.name"><span class="handle"></span>{{ i.name }} <i class="remove-tag" @click="removeTag(i)"></i></li>
                </draggable>
            </ul>
            <ul class="add-tag-bounding flex wrap">
                <li class="is-6">
                    <input type="text" class="is-8" v-model="currentTag" placeholder="Write your tags here..." style="margin-bottom: 0px;" @keyup="filter()" @keyup.enter="addTag()">
                    <ul class="tag-selector" v-show="tagSelector">
                        <li v-for="(tag) in tagSelection" v-html="highlight(tag.name, tag.tag_count)"@click="addTag(tag.name)"></li>
                    </ul>
                </li>
                <li class="is-4">
                    <button @click="addTag()" class="tag-button">Add tag</button>
                </li>
            </ul>
    </div>
</template>

<script>        
    import draggable from 'vuedraggable'

    export default {
        data: function () {
            return {
                tags : [],
                currentTag : '',
                tagSelection : [],
                tagSelector : false,
            }
        },
        methods: {
            dataFunction: function(evt) {
                // when a tag exchange happens the whole tag array is posted to a controller that iterates through it and inserts a new array with right sorting keys
                axios.post('/account/tag/sort', {tags : this.tags}).then(response => { 
                    if(response.data == true)
                        window.events.$emit('tagUpdates', this.tags);
                });
            },

            addTag: function(tag = false) {  
                // hides dropdown              
                this.tagSelector = false;

                // reset tag if it somehow doesnt exist
                let tagToAdd = tag ? tag : this.currentTag;

                // add the tag and emit flash message if successfull or a failure
                axios.post('/account/tag/add', {tag : tagToAdd}).then(response => { 
                    if(response.data.status) {
                        this.tags.push({
                            'name' : tagToAdd,
                            'sort' : response.data.sort,
                        });
                        this.currentTag = '';
                        window.events.$emit('tagUpdates', this.tags);
                    }else {
                        if(response.data.message) {
                            flash(response.data.message, 'success');
                        }
                        this.currentTag = '';
                    }
                });
            },

            removeTag: function(tag) {
                axios.post('/account/tag/remove', {tag : tag}).then(response => { 
                    if(response.data) {
                        this.tags.splice(this.tags.indexOf(tag), 1);
                        window.events.$emit('tagUpdates', this.tags);
                    }
                });
            },

            bindTags: function() {
                axios.get('/account/tags/get').then(response => { 
                    this.tags = response.data;
                });
            },

            filter: function() {
                
                if(this.currentTag.length > 1) {
                    axios.post('/account/tags/filter', { term: this.currentTag }).then(response => { 
                        this.tagSelection = response.data;
                        if(response.data.length > 1) {
                            this.tagSelector = true;
                        }
                    });
                }else {
                    this.tagSelector = false;
                    this.tagSelection = [];
                }
            },

            highlight: function(val, count) {
                if(!this.currentTag) {
                    return this.currentTag;
                }

                return val.replace(new RegExp(this.currentTag, "gi"), match => {
                    return '<span class="highlightText">' + match + '</span>';
                }) + '<b>' + count + '</b>';
            }
        },
        mounted: function () {
            this.bindTags();
        },
        components: {
            draggable,
        },
    }
</script>

