<template>
    <div>
        <div v-if="checkUser()" class="online"></div>
        <div v-else="" class="offline"></div>
    </div>
</template>

<script>
    export default {
        props: ['friend', 'onlineusers'],
        methods: {
            checkUser: function() {
                return _.find(this.onlineusers, {id: this.friend});
            }
        }
    }
</script>

