/**
 * Regular = Normal
 * Demi = 400
 * 
 * 
 * 
 * 
 * 
 */

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-BlackItalic.woff2") format("woff2"), url("/fonts/averta/Averta-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-LightItalic.woff2") format("woff2"), url("/fonts/averta/Averta-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-Light.woff2") format("woff2"), url("/fonts/averta/Averta-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-Extrathin.woff2") format("woff2"), url("/fonts/averta/Averta-Extrathin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-ExtraBold.woff2") format("woff2"), url("/fonts/averta/Averta-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-ThinItalic.woff2") format("woff2"), url("/fonts/averta/Averta-ThinItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-SemiboldItalic.woff2") format("woff2"), url("/fonts/averta/Averta-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-Semibold.woff2") format("woff2"), url("/fonts/averta/Averta-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-ExtraBoldItalic.woff2") format("woff2"), url("/fonts/averta/Averta-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-Bold.woff2") format("woff2"), url("/fonts/averta/Averta-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-Black.woff2") format("woff2"), url("/fonts/averta/Averta-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-Regular.woff2") format("woff2"), url("/fonts/averta/Averta-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-RegularItalic.woff2") format("woff2"), url("/fonts/averta/Averta-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-Thin.woff2") format("woff2"), url("/fonts/averta/Averta-Thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-BoldItalic.woff2") format("woff2"), url("/fonts/averta/Averta-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-ExtrathinItalic.woff2") format("woff2"), url("/fonts/averta/Averta-ExtrathinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

html * {
  font-family: 'Averta';
  font-weight: 600;
}

.landing-section-one {
  width: 100%;
  height: 85vh;
  background: #fff;
}

.landing-section-two {
  width: 100%;
  height: 100vh;
  background: #42DCD6;
}

.landing-container {
  width: 1170px;
  margin: auto;
  position: relative;
}

.grafik-landing {
  position: absolute;
  bottom: -250px;
  left: calc(50% - 730px);
}

header {
  padding-top: 40px;
}

header .logo {
  float: left;
}

header nav {
  float: right;
}

header nav ul li {
  float: left;
}

header nav ul li a {
  font-size: 17px;
  color: #42DDD3;
  font-weight: 600;
  padding: 0px 10px;
}

h1 {
  width: 100%;
  text-align: center;
  color: #42DCD6;
  font-size: 48px;
  font-weight: 900;
  float: left;
  margin-bottom: 20px;
  margin-top: 15vh;
}

.landing-button-wrap {
  width: 380px;
  margin: auto;
  display: block;
  margin-bottom: 100px;
}

.landing-button-wrap a {
  width: 180px;
  height: 50px;
  display: block;
  border-radius: 100px;
  border: 2px solid #42DCD6;
  text-align: center;
  line-height: 50px;
  float: left;
  color: #42DCD6;
  font-size: 17px;
}

.landing-button-wrap a:hover {
  background: #42DCD6;
  color: white;
}

.landing-button-wrap a:first-child {
  margin-right: 20px;
}

