/**
 * Regular = Normal
 * Demi = 400
 * 
 * 
 * 
 * 
 * 
 */

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-BlackItalic.woff2") format("woff2"), url("/fonts/averta/Averta-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-LightItalic.woff2") format("woff2"), url("/fonts/averta/Averta-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-Light.woff2") format("woff2"), url("/fonts/averta/Averta-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-Extrathin.woff2") format("woff2"), url("/fonts/averta/Averta-Extrathin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-ExtraBold.woff2") format("woff2"), url("/fonts/averta/Averta-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-ThinItalic.woff2") format("woff2"), url("/fonts/averta/Averta-ThinItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-SemiboldItalic.woff2") format("woff2"), url("/fonts/averta/Averta-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-Semibold.woff2") format("woff2"), url("/fonts/averta/Averta-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-ExtraBoldItalic.woff2") format("woff2"), url("/fonts/averta/Averta-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-Bold.woff2") format("woff2"), url("/fonts/averta/Averta-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-Black.woff2") format("woff2"), url("/fonts/averta/Averta-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-Regular.woff2") format("woff2"), url("/fonts/averta/Averta-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-RegularItalic.woff2") format("woff2"), url("/fonts/averta/Averta-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-Thin.woff2") format("woff2"), url("/fonts/averta/Averta-Thin.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-BoldItalic.woff2") format("woff2"), url("/fonts/averta/Averta-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Averta';
  src: url("/fonts/averta/Averta-ExtrathinItalic.woff2") format("woff2"), url("/fonts/averta/Averta-ExtrathinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

html * {
  font-family: 'Averta';
  font-weight: 600;
}

body {
  background: #F2F2F2;
}

.menu-icon {
  width: 20px;
  height: 34px;
  display: block;
  float: left;
  margin-right: 6px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background: #A1A1A1;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.placeholder-notifications {
  width: 48px;
  height: 52px;
  display: block;
}

.user-login-wrap {
  padding-right: 25px;
}

.user-login-wrap li a {
  color: #dddce4;
  font-size: 15px;
  font-weight: 600;
  height: 52px;
  display: block;
  line-height: 55px;
}

.i-account-details {
  -webkit-mask-image: url(/resources/menu-icons/account-details.svg);
  mask-image: url(/resources/menu-icons/account-details.svg);
  -webkit-mask-position: 2px 7px;
  mask-position: 2px 7px;
}

.i-creative-tags {
  -webkit-mask-image: url(/resources/menu-icons/creative-tags.svg);
  mask-image: url(/resources/menu-icons/creative-tags.svg);
  -webkit-mask-position: 1px 8px;
  mask-position: 1px 8px;
}

.i-social-profiles {
  -webkit-mask-image: url(/resources/menu-icons/socials.svg);
  mask-image: url(/resources/menu-icons/socials.svg);
  -webkit-mask-position: 1px 9px;
  mask-position: 1px 9px;
}

.i-change-password {
  -webkit-mask-image: url(/resources/menu-icons/change-password.svg);
  mask-image: url(/resources/menu-icons/change-password.svg);
  -webkit-mask-position: 2px 8px;
  mask-position: 2px 8px;
}

.i-notifications {
  -webkit-mask-image: url(/resources/menu-icons/notifications.svg);
  mask-image: url(/resources/menu-icons/notifications.svg);
  -webkit-mask-position: 2px 10px;
  mask-position: 2px 10px;
}

.i-billing {
  -webkit-mask-image: url(/resources/menu-icons/billing.svg);
  mask-image: url(/resources/menu-icons/billing.svg);
  -webkit-mask-position: 2px 11px;
  mask-position: 2px 11px;
}

.i-session-log {
  -webkit-mask-image: url(/resources/menu-icons/session-log.svg);
  mask-image: url(/resources/menu-icons/session-log.svg);
  -webkit-mask-position: 2px 9px;
  mask-position: 2px 9px;
}

.main-header {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #15182D;
  height: 52px;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  position: fixed;
  top: 0px;
  z-index: 1000;
}

.main-header .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header .main-menu li {
  padding: 0px 10px;
}

.main-header .main-menu li a {
  color: #dddce4;
  font-size: 15px;
  font-weight: 600;
  height: 52px;
  display: block;
  line-height: 55px;
}

.main-header .logo {
  position: relative;
  height: 52px;
  display: inline-block;
  line-height: 65px;
  margin: 0px 25px 0px 25px;
}

.main-header .logo img {
  padding-bottom: 4px;
}

.main-header .unread-notifications:hover .notifications-dropdown,
.main-header .notifications:hover .notifications-dropdown {
  display: block;
}

.main-header .unread-notifications {
  list-style-type: none;
  position: relative;
  width: 48px;
  height: 54px;
  background: center 16px url(/resources/bell.svg) no-repeat;
  float: right;
}

.main-header .unread-notifications::after {
  content: '';
  width: 12px;
  height: 12px;
  background: #42ddd7;
  position: absolute;
  top: 16px;
  display: block;
  right: 11px;
  border-radius: 100px;
  border: 3px solid #15182d;
}

.main-header .notifications {
  list-style-type: none;
  position: relative;
  width: 48px;
  height: 52px;
  background: center 16px url(/resources/bell.svg) no-repeat;
  float: right;
}

.main-header .notifications-dropdown {
  z-index: 100000;
  position: absolute;
  display: none;
  top: 54px;
  right: -47px;
  width: 260px;
  min-height: 160px;
  max-height: 370px;
  background: white;
  border-radius: 6px;
  color: white;
  -webkit-box-shadow: 0px 0px 8px -4px #000000;
  box-shadow: 0px 0px 8px -4px #000000;
}

.main-header .notifications-dropdown::before {
  content: '';
  position: absolute;
  right: 65px;
  top: -5px;
  border-left: 6px solid transparent;
  border-right: 6px solid white;
  border-top: 6px solid white;
  border-bottom: 6px solid transparent;
  clear: both;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.main-header .notifications-dropdown .notif-text-container {
  height: 50px;
}

.main-header .notifications-dropdown hr {
  border: 0px;
  height: 4px;
  background: #212c48;
  border-radius: 2px;
  display: block;
  margin: 0px 20px;
}

.main-header .notifications-dropdown li .notification-block .friend-notification {
  min-height: 72px;
}

.main-header .notifications-dropdown li .friend-text-part {
  width: 268px;
  float: left;
  padding: 16px 20px 6px 0px;
}

.main-header .notifications-dropdown li .friend-text-part > span {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 900;
  color: #11145f;
}

.main-header .notifications-dropdown li .avatar-notification {
  width: 72px;
  height: 66px;
  display: block;
  padding: 18px 10px 18px 18px;
  float: left;
}

.main-header .notifications-dropdown li .avatar-notification img {
  border-radius: 100px;
}

.main-header .notifications-dropdown li .user-friendable-btn button {
  margin: 0px 4% 10px 0px;
}

.main-header .notifications-dropdown li button {
  float: left;
  width: 48%;
  padding: 0px 10px;
  height: 27px;
  line-height: 29px;
  margin: 0px 0px 10px 0px;
  font-size: 13px;
  border-radius: 6px;
  background: #262ba1;
  color: white;
  font-weight: 900;
  border: none;
  cursor: pointer;
}

.main-header .messages {
  width: 45px;
  height: 52px;
  background: center 16px url(/resources/messages.svg) no-repeat;
  float: right;
  position: relative;
}

.main-header .search {
  width: 52px;
  height: 52px;
  background: center 17px url(/resources/search.svg) no-repeat;
  float: right;
}

.main-header .friends-toggle {
  width: 52px;
  height: 52px;
  background: center 17px url(/resources/friendships-icon.svg) no-repeat;
  float: right;
  cursor: pointer;
}

.main-header .friends-toggle:active {
  opacity: 0.8;
}

.main-header .header-avatar {
  border-radius: 1000px;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  float: right;
  margin: 16px 25px 16px 14px;
}

.main-header .user-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.live-indicator {
  border-radius: 100px;
  border: 2px #ff329d solid;
  padding: 9px 54px 9px 27px;
  font-weight: 600;
}

.live-indicator::after {
  content: '';
  display: block;
  width: 29px;
  height: 15px;
  background: center center url(/resources/live-icon.svg) no-repeat;
  background-size: 20px 13px;
  position: absolute;
  right: 94px;
  top: 16px;
}

.floating-sidebar {
  width: 320px;
  min-height: 280px;
  float: left;
  margin: 0px 0px 0px 30px;
  padding-top: 10px;
}

.preview-floating-sidebar {
  width: 320px;
  min-height: 170px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  pointer-events: none;
}

.panel {
  background: #ffffff;
  border-radius: 8px;
}

.panel .panel-section {
  border-bottom: 2px solid #F7F7F7;
}

.panel .panel-section.no-last:last-child {
  border-bottom: none;
}

.panel-section {
  width: 100%;
  display: inline-block;
  padding: 20px 25px;
}

.panel-section .panel-header-big {
  font-size: 18px;
  color: #333;
  text-align: center;
  font-weight: bold;
  margin: 0px 0px -4px 0px;
}

.panel-section .panel-header {
  font-size: 16px;
  font-weight: 600;
  padding: 0px;
  text-align: left;
  margin-bottom: 15px;
}

.panel-section.panel-slim {
  padding: 15px 25px;
}

.profile-avatar-wrapper {
  position: relative;
  overflow: hidden;
  width: 86px;
  float: left;
  margin-left: -25px;
  margin-right: 10px;
}

.profile-avatar-wrapper .user-profile-image {
  width: 100px;
  height: 100px;
  display: block;
  background-size: cover;
  margin-left: -14px;
  border-radius: 100px;
  background-position: center;
}

.profile-avatar-wrapper .profile-avatar {
  border-radius: 1000px;
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  left: -14px;
}

.pill-line {
  position: relative;
  width: 100%;
  float: left;
  height: 20px;
}

.pill-line .rating-pill {
  background: -webkit-gradient(linear, right top, left top, from(#45D0EC), to(#3EEABA));
  background: linear-gradient(-90deg, #45D0EC, #3EEABA);
  color: white;
  font-weight: 800;
  border-radius: 100px;
  font-size: 13px;
  padding: 9px;
  height: 23px;
  display: block;
  position: absolute;
  line-height: 7px;
  top: -12px;
}

.pill-line.no-bio {
  height: 11px;
}

.pill-line.has-bio {
  height: 20px;
}

.bio {
  font-size: 15px;
  color: #222;
  font-weight: normal;
  line-height: 1.4;
  float: left;
}

.profile-info-wrapper {
  float: left;
  width: 199px;
}

.profile-info-wrapper .networking-buttons {
  padding: 10px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-info-wrapper .networking-buttons .user-friendable-btn button {
  width: 106px;
}

.profile-info-wrapper .networking-buttons .follow button {
  width: 86px;
  margin-right: 7px;
}

.profile-info-wrapper .networking-buttons button {
  height: 36px;
  border: 1px solid #42DCD6;
  border-radius: 100px;
  padding-top: 2px;
  float: left;
  display: block;
  font-size: 14px;
  color: #42DCD6;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.profile-info-wrapper .networking-buttons button:hover {
  background: #42DCD6;
  color: white;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.profile-info-wrapper .profile-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 7px;
  color: #333;
  text-transform: capitalize;
}

.profile-info-wrapper .profile-location {
  color: #858585;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: normal;
  margin-top: -3px;
}

.tag-container-pub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  min-height: 26px;
}

.floating-account-sidebar-user {
  width: 280px;
  min-height: 80px;
}

.floating-account-sidebar-user .user-avatar-container {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 12px;
}

.floating-account-sidebar-user .user-avatar-container .account-badge {
  width: 24px;
  height: 24px;
  background: #ff329d;
  display: block;
  position: absolute;
  bottom: -6px;
  left: -7px;
  border: 4px solid #1b243a;
  border-radius: 100px;
}

.floating-account-sidebar-user .user-avatar-container img {
  width: 100%;
  height: 100%;
  border-radius: 200px;
}

.floating-account-sidebar-user .sidebar-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.floating-account-sidebar-user .sidebar-part h1 {
  font-weight: 600;
  text-transform: capitalize;
}

.floating-account-sidebar-user .sidebar-part span {
  color: white;
}

.floating-account-sidebar-user h1 {
  float: left;
  color: #333;
  font-weight: bold;
  font-size: 17px;
  padding-top: 3px;
}

.close-friends {
  width: 20px;
  height: 20px;
  background: crimson;
  display: blocK;
  cursor: pointer;
}

.floating-account-sidebar-user ul .is-active:hover li {
  color: #222;
}

.floating-account-sidebar-user ul .is-active:hover .menu-icon {
  background: #222;
}

.floating-account-sidebar-user ul .is-active li {
  color: #222;
  font-weight: bold;
  position: relative;
  z-index: 2333333;
}

.floating-account-sidebar-user ul .is-active .menu-icon {
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  background: #222;
}

.floating-account-sidebar-user ul a {
  text-decoration: none;
  display: block;
  color: white;
  position: relative;
  padding-left: 25px;
}

.floating-account-sidebar-user ul a:hover {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.floating-account-sidebar-user ul a:hover li {
  color: #777;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.floating-account-sidebar-user ul a:hover .menu-icon {
  background: #777;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.floating-account-sidebar-user ul a li {
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  position: relative;
  line-height: 34px;
  padding-top: 2px;
  font-weight: 600;
  color: #A1A1A1;
  font-size: 16px;
}

.floating-account-sidebar-user ul hr {
  border: 0px;
  height: 4px;
  background: #212c48;
  border-radius: 2px;
  display: block;
  margin: 0px 25px 5px 25px;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

.fade-in-element {
  -webkit-animation: fade-in 0.5s;
          animation: fade-in 0.5s;
}

.friends {
  width: 320px;
  background: white;
  position: fixed;
  top: 52px;
  right: 0px;
  z-index: 999;
  height: calc(100vh - 52px);
  -webkit-box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.34);
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.friends .friend {
  padding: 7px 0px;
  text-decoration: none;
  display: block;
  color: black;
  padding-right: 25px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.friends .friend img {
  border-radius: 100px;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  margin-left: 23px;
  padding: 4px;
}

.friends .friend .active:after {
  content: '';
  background: right center url(/resources/arrow-right-sidebar.svg) no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  bottom: 12px;
  right: 22px;
}

.friends .friend span {
  position: relative;
  line-height: 34px;
  padding-left: 6px;
  font-weight: 600;
  color: black;
  font-size: 15px;
  padding-right: 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-transform: capitalize;
}

.friends .friend span .online,
.friends .friend span .offline {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 100px;
  position: absolute;
  right: 0px;
  top: calc(50% - 5px);
}

.friends .friend span .online {
  background: #2CD821;
}

.friends .friend span .offline {
  background: #101729;
}

.friends .friend:last-child {
  border: none;
}

.friends .friend:hover {
  background-color: #172033;
  cursor: pointer;
}

.panel-slide-in {
  animation: panel-slide-in 0.5s forwards;
  -webkit-animation: panel-slide-in 0.5s forwards;
}

.panel-slide-out {
  animation: panel-slide-out 0.5s forwards;
  -webkit-animation: panel-slide-out 0.5s forwards;
}

@keyframes panel-slide-in {
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes panel-slide-in {
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes panel-slide-out {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes panel-slide-out {
  0% {
    -webkit-transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(100%);
  }
}

.account-content-section {
  padding: 0px 0px 0px 0px;
  min-height: 400px;
  float: left;
  background-color: #ffffff;
  border-radius: 8px;
  color: white;
}

.account-content-section .preview-area {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.account-content-section .preview-area .preview-profile {
  width: 314px;
  min-height: 284px;
  border-radius: 18px;
  border: 2px solid #ff329d;
  margin: auto;
  background: #1a2238;
  padding: 25px;
}

.account-content-section .preview-area .preview-profile img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.account-content-section form {
  padding-right: 30px;
}

.account-content-section form .submit-account-form {
  width: 120px;
  height: 44px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  background: #42ddd7;
  color: white;
  border-radius: 4px;
}

.account-content-section form .submit-account-form:hover {
  cursor: pointer;
  background: #42ddd7;
}

.account-content-section input,
.account-content-section textarea {
  margin: 10px 0px 25px 0px;
  min-height: 44px;
  border: none;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  background: #f7f7f7;
  color: #444;
  font-size: 15px;
  width: 100%;
  font-weight: 600;
  padding-top: 2px;
}

.account-content-section textarea {
  padding: 15px;
  line-height: 1.4;
  min-height: 95px;
}

.with-preview {
  position: relative;
}

.HolyGrail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 77px;
}

.page-container-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 77px;
}

.HolyGrail-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.account-sidebar-menu {
  background: #FBFBFB;
  width: 280px;
  border-radius: 8px 0px 0px 8px;
}

#left-side {
  padding-left: 25px;
}

#account-content {
  max-width: 1100px;
}

.HolyGrail-left,
.HolyGrail-right,
.HolyGrail-preview {
  /* 12em is the width of the columns */
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12em;
          flex: 0 0 12em;
}

.HolyGrail-preview {
  min-width: 320px;
  margin: 0px 0px 0px 25px;
  position: absolute;
  right: -335px;
}

.HolyGrail-left,
.sidebar-queue {
  /* put the left on the left */
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.HolyGrail,
.HolyGrail-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.HolyGrail-left {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .HolyGrail-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .HolyGrail-left,
  .HolyGrail-right {
    /* 12em is the width of the columns */
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12em;
            flex: 0 0 12em;
  }
}

@media (max-width: 1800px) {
  .HolyGrail-preview {
    display: none;
  }
}

.queue-info {
  width: 310px;
  min-height: 100px;
  margin: 0 20px 0 25px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.queue-settings {
  width: 310px;
  min-height: 100px;
  margin: 0 20px 0 25px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.queue-information {
  width: 310px;
  min-height: 100px;
  margin: 0 20px 0 25px;
  padding: 10px 15px;
  margin-bottom: 10px;
  color: #b3b3b3;
  font-size: 14px;
  text-align: -webkit-auto;
  line-height: 1.4;
}

.queue-status {
  color: #42DCD6;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.users-overlay {
  width: 44px;
  height: 44px;
  background: -webkit-gradient(linear, left top, left bottom, from(#41E1CD), to(#43D6E0));
  background: linear-gradient(#41E1CD, #43D6E0);
  opacity: 0.7;
  display: block;
  position: absolute;
  margin: -22px 0px 0px -22px;
  z-index: 2;
  border-radius: 100px;
}

@media screen and (max-width: 1920px) {
  .users-overlay {
    width: 2.15vw;
    height: 2.15vw;
    background: -webkit-gradient(linear, left top, left bottom, from(#41E1CD), to(#43D6E0));
    background: linear-gradient(#41E1CD, #43D6E0);
    opacity: 0.7;
    display: block;
    position: absolute;
    margin: -1.075vw 0px 0px -1.075vw;
    z-index: 2;
    border-radius: 100px;
  }
}

.find-session-btn {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  width: 140px;
  height: 44px;
  display: block;
  background: transparent;
  border: 1px solid #42DCDA;
  border-radius: 300px;
  color: #42DCD6;
  font-weight: 600;
  font-size: 16px;
  margin: 5px auto 5px auto;
}

.find-session-btn:hover {
  background-color: #43dfd8;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  cursor: pointer;
  color: #ffffff;
}

.panel-header {
  font-size: 18px;
  color: #333;
  text-align: center;
  font-weight: bold;
  padding: 21px 0px 17px 0px;
}

.panel-seperator {
  border: 0px;
  height: 2px;
  background: #F7F7F7;
  display: block;
  margin: 0px;
}

.seperator {
  border: 0px;
  height: 2px;
  background: #EFEFEF;
  display: block;
  margin: 0px 0px 13px 0px;
}

.seperator.nested {
  margin: 12px 0px 12px 0px;
}

.seperator.line {
  margin: 0px 0px 15px 0px;
}

.seperator.slim {
  margin: 0px 25px 0px 25px;
}

.server-status-box {
  margin: 0px;
  color: #444444;
  display: inline-block;
  width: 100%;
  font-size: 15px;
}

.server-status-box span {
  font-weight: 600;
}

.server-status-box b {
  float: right;
  font-weight: 600;
}

.el-tooltip__popper.is-dark {
  background: #4b86fb;
  color: #fff;
}

.configurator {
  display: inline-block;
}

.configurator .label-conf {
  color: #444;
  font-size: 16px;
  font-weight: 600;
}

.configurator .label-conf b {
  font-weight: 600;
  float: right;
}

.configurator .el-slider__button {
  background: #43D6E0;
  border-color: #43D6E0;
}

.configurator .el-slider__bar {
  background: -webkit-gradient(linear, right top, left top, from(#43D6E0), to(#41E1CD));
  background: linear-gradient(-90deg, #43D6E0, #41E1CD);
}

.configurator .el-slider__runway {
  background: #F2F2F2;
}

.configurator .el-slider__stop {
  background-color: #D8D8D8;
}

.configurator .slider-wrapper {
  margin: 0px 9px;
}

.configurator .el-dropdown {
  display: block;
  margin-top: 12px;
}

.configurator .el-button--primary {
  color: #333;
  background-color: #f3f3f3 !important;
  border: none;
  width: 100%;
  border-radius: 6px;
  font-size: 15px;
  height: 45px !important;
  padding: 10px 15px 10px 15px;
}

.configurator .el-button {
  text-align: left;
}

.el-dropdown-menu {
  width: 260px !important;
  padding: 10px 0 5px 0 !important;
  border-radius: 6px !important;
  border: 0 !important;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08) !important;
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08) !important;
}

.el-dropdown-menu__item {
  padding: 0px !important;
}

.el-dropdown-menu__item--divided:before {
  margin: 0px 0px !important;
}

.el-button--primary {
  background-color: #42ddd7 !important;
  border-color: #42ddd7 !important;
}

.el-checkbox {
  display: block !important;
  padding: 0px 20px !important;
  color: #333 !important;
  font-weight: 800 !important;
  font-size: 15px !important;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #43dfd8 !important;
  font-weight: 600 !important;
}

.el-checkbox__label {
  font-weight: 600 !important;
  color: #444 !important;
}

.el-button--primary:focus,
.el-button--primary:hover {
  background: #e4e4e4 !important;
  color: #333 !important;
  border: none !important;
}

.el-checkbox__inner {
  border-radius: 100px !important;
  width: 17px !important;
  height: 17px !important;
  border: none !important;
}

.el-checkbox__inner::after {
  height: 7px !important;
  left: 6px !important;
  top: 3px !important;
  border-width: 2px !important;
  border-radius: 1.5px !important;
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background: #43dfd8 !important;
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
  top: 7px !important;
  height: 3px !important;
  border-radius: 2px !important;
}

.el-checkbox__inner {
  background-color: #eaeaea !important;
}

.el-icon-arrow-down:before {
  content: '' !important;
  background: url(/resources/arrow-down-select.svg) no-repeat;
  width: 20px;
  height: 20px;
  display: block;
}

.el-icon-arrow-down:before {
  content: '' !important;
  background: 0px 7px url(/resources/arrow-down-select.svg) no-repeat;
  width: 20px;
  height: 14px;
  display: block;
}

.configurator-opton-wrapper {
  -webkit-transition-duration: 1.1s;
  transition-duration: 1.1s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  max-height: 1000px;
  overflow: hidden;
}

.configurator-opton-wrapper.slide-down {
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  opacity: 0;
  background: #fff;
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.configurator-opton-replacement-wrapper {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transition-duration: 1.3s;
  transition-duration: 1.3s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  max-height: 1000px;
  overflow: hidden;
}

.configurator-opton-replacement-wrapper hr:last-child {
  margin-bottom: 0px;
}

.configurator-opton-replacement-wrapper.slide-down {
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.queue-content-section {
  margin-right: 30px;
}

.queue-content-section .world-map-bg {
  position: relative;
  display: table;
  margin: auto;
}

.queue-content-section .world-map-bg .map-users-overlay {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0px;
  z-index: 3;
}

.queue-content-section .world-map-bg .map-users-overlay a {
  position: absolute;
}

.queue-content-section .world-map-bg .map-users-overlay img {
  margin: -22px 0px 0px -22px;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  position: absolute;
}

@media screen and (max-width: 1920px) {
  .queue-content-section .world-map-bg .map-users-overlay img {
    margin: -1.075vw 0px 0px -1.075vw;
    width: 2.15vw;
    height: 2.15vw;
    border-radius: 100px;
    position: absolute;
  }
}

.queue-content-section .world-map-bg .map-bg {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  display: block;
  margin-top: 30px;
  opacity: 0.5;
  width: 100%;
}

.queue-content-section .world-map-bg .map-bg.active {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

span.dot {
  position: absolute;
  padding-left: 4px;
}

.loader-placeholder {
  height: 50px;
  line-height: 50px;
}

.session-prompt-background-tint {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  background: rgba(242, 242, 242, 0.7);
}

.session-prompt-background-tint .session-prompt {
  width: 356px;
  height: 377px;
  display: block;
  position: relative;
  top: 20%;
  margin: auto;
  z-index: 5;
  border-radius: 8px;
  background: linear-gradient(45deg, #43D6E0, #41E1CD);
  overflow: hidden;
}

.session-prompt-background-tint .session-prompt .prompt-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 6;
}

.session-prompt-background-tint .session-prompt .prompt-content .progress {
  text-align: center;
  padding: 13px 0px 0px 0px;
}

.session-prompt-background-tint .session-prompt .prompt-content .progress .progress-seconds {
  color: white;
  font-size: 30px;
  font-weight: 900;
}

.session-prompt-background-tint .session-prompt .prompt-content .action-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 13px 0px 40px 0px;
}

.session-prompt-background-tint .session-prompt .prompt-content .action-buttons button {
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  border: 2px solid white;
  min-width: 120px;
  height: 40px;
  color: white;
  background-color: transparent;
  border-radius: 100px;
  font-size: 15px;
  font-weight: bold;
  float: left;
  margin-right: 14px;
}

.session-prompt-background-tint .session-prompt .prompt-content .action-buttons button:hover {
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  background: white;
  color: #43D6E0;
  cursor: pointer;
}

.session-prompt-background-tint .session-prompt .prompt-content .action-buttons button:last-child {
  margin-right: 0px;
}

.session-prompt-background-tint .session-prompt .prompt-content .content-header .name {
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 10px;
}

.session-prompt-background-tint .session-prompt .prompt-content .content-header .location {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 3px;
}

.session-prompt-background-tint .session-prompt .prompt-content .content-header img {
  border-radius: 200px;
  margin: auto;
  display: block;
  margin-top: 40px;
  width: 106px;
  height: 106px;
  border: 2px solid white;
}

.session-prompt-background-tint .session-prompt .prompt-texture {
  background: top url(/resources/texture.png) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
}

.filter-pill {
  background: -webkit-gradient(linear, right top, left top, from(#43D6E0), to(#41E1CD));
  background: linear-gradient(-90deg, #43D6E0, #41E1CD);
  border-radius: 100px;
  min-width: 30px;
  padding: 0px 10px;
  font-size: 13px;
  text-align: center;
  line-height: 23px;
  height: 20px;
  color: white;
  margin-top: -2px;
  margin-bottom: -5px;
  font-weight: 800 !important;
}

.filter-pill:hover {
  background: #59f5ed;
  color: #ffffff;
  cursor: pointer;
}

.filter-pill-variation {
  background: -webkit-gradient(linear, right top, left top, from(#43D6E0), to(#41E1CD));
  background: linear-gradient(-90deg, #43D6E0, #41E1CD);
  color: #fff;
  border-radius: 100px;
  min-width: 30px;
  padding: 0px 10px;
  font-size: 13px;
  text-align: center;
  line-height: 23px;
  height: 20px;
  font-weight: 800;
}

.dropdown-label {
  float: left;
}

.dropdown-label .dropdown-arrow {
  background: right center url(/resources/arrow-right-sidebar.svg) no-repeat;
  width: 10px;
  height: 10px;
  display: block;
  float: left;
}

.checked-dropdown {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#43D6E0), to(#41E1CD));
  background: linear-gradient(-90deg, #43D6E0, #41E1CD);
  color: white;
  border-radius: 8px;
  margin: 16px 0px 4px 0px;
  padding: 10px 0px 10px 0px;
  overflow: hidden;
}

.checked-dropdown li {
  min-height: 25px;
  padding: 6px 15px 6px 15px;
  font-size: 14px;
  width: 50%;
  float: left;
  font-weight: 700;
  border-right: 2px solid #abfbf830;
}

.checked-dropdown li.no-border {
  border: none;
  width: 100%;
  text-align: center;
}

.checked-dropdown li:nth-child(even) {
  border: none;
}

.checked-dropdown.collapsed {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  opacity: 0;
  height: 0px;
  padding: 0px;
  margin: 0px;
}

.list-group {
  margin-bottom: 5px;
}

.list-group .list-group-item {
  min-width: 30px;
  height: 38px;
  line-height: 40px;
  float: left;
  background: #f3f3f3;
  border-radius: 6px;
  padding: 0px 36px 0px 36px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: bold;
  position: relative;
  color: #444;
}

.handle {
  width: 22px;
  height: 22px;
  display: block;
  background: #2e3d60;
  position: absolute;
  left: 8px;
  top: 8px;
  background: center center url(/resources/move-icon.svg) no-repeat;
}

.handle:hover {
  cursor: move;
}

.handle:active {
  opacity: 0.7;
}

.user_tag {
  min-width: 30px;
  height: 28px;
  line-height: 28px;
  float: left;
  background: #ff329d;
  border-radius: 100px;
  padding: 0px 30px 0px 12px;
  margin: 0px 5px 7px 0px;
  text-align: center;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 900;
  position: relative;
}

.tag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  height: 100px;
  margin-top: 20px;
}

.user-tag-pub {
  min-width: 10px;
  height: 27px;
  line-height: 28px;
  float: left;
  background: #F3F3F3;
  border-radius: 100px;
  padding: 0px 11px 0px 11px;
  margin: 0px 7px 7px 0px;
  text-align: center;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 600;
  position: relative;
  color: #444444;
}

.highlightText {
  color: #3fd6d0;
  text-transform: capitalize;
  font-weight: bold;
}

.remove-tag {
  width: 22px;
  height: 22px;
  display: block;
  background: #2e3d60;
  position: absolute;
  right: 8px;
  top: 8px;
  background: center center url(/resources/delete-tag.svg) no-repeat;
}

.remove-tag:hover {
  cursor: pointer;
  opacity: 0.8;
}

.sortable-ghost {
  opacity: 0 !important;
  border: 0px dotted #39486f;
  background: transparent !important;
  color: transparent !important;
}

.sortable-ghost span,
.sortable-ghost i {
  opacity: 0;
}

.account-ico {
  display: inline-block;
}

.account-ico:hover .dropdown-top {
  display: block;
}

.dropdown-top {
  z-index: 100000;
  position: absolute;
  display: none;
  top: 47px;
  right: 13px;
  width: 220px;
  min-height: 160px;
  max-height: 370px;
  background: white;
  border-radius: 6px;
  color: black;
  padding: 7px 0px;
  -webkit-box-shadow: 0px 0px 8px -4px #000000;
  box-shadow: 0px 0px 8px -4px #000000;
}

.dropdown-top::before {
  content: '';
  position: absolute;
  right: 16px;
  top: -5px;
  border-left: 6px solid transparent;
  border-right: 6px solid white;
  border-top: 6px solid white;
  border-bottom: 6px solid transparent;
  clear: both;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.dropdown-top hr {
  border: 0px;
  height: 4px;
  background: #212c48;
  border-radius: 2px;
  display: block;
  margin: 0px 20px;
}

.dropdown-top a {
  width: 100%;
  display: inline-block;
}

.dropdown-top a li {
  width: 100%;
  color: #0d1731;
  padding: 8px 15px 8px 15px;
  font-size: 15px;
  font-weight: 600;
}

.dropdown-top a li:hover {
  background-color: #eaf0ff;
}

.cp-wrap {
  height: 21px;
  background: -webkit-gradient(linear, right top, left top, from(#45D0EC), to(#3EEABA));
  background: linear-gradient(-90deg, #45D0EC, #3EEABA);
  border-radius: 100px;
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 7px;
  line-height: 22px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
}

.cp-wrap b {
  font-weight: bold;
  margin-left: 3px;
  font-size: 14px;
}

.sidebar-top {
  font-size: 18px;
  color: #253254;
  text-align: center;
  font-weight: bold;
  padding: 20px 0px 15px 0px;
}

.friend-btn {
  width: 100%;
  margin-bottom: 13px;
}

.friend-btn .user-friendable-btn button {
  -webkit-transition: 0.15s;
  transition: 0.15s;
  min-width: 115px;
  padding: 0px 15px;
  height: 37px;
  border-radius: 100px;
  font-size: 14px;
  background: transparent;
  border: 2px solid white;
  color: white;
  margin: auto;
  display: block;
}

.friend-btn .user-friendable-btn button span {
  font-weight: 900;
}

.friend-btn .user-friendable-btn button:hover {
  background: white;
  color: #253254;
  cursor: pointer;
  margin: auto;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

@media (max-width: 1560px) {
  .account-page .HolyGrail-right {
    display: none;
  }

  .account-content-section {
    margin-right: 30px;
  }
}

.preview-header {
  text-align: center;
  padding: 15px 15px 29px 15px;
  font-size: 16px;
  color: #ff329d;
  font-weight: 600;
}

.user-socials-pub {
  width: 36px;
  height: 36px;
  display: block;
  float: left;
  background: #f3f3f3;
  border-radius: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.user-socials-pub .user-social {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-size: 56% 52%;
  mask-size: 56% 52%;
  background: #444444;
  border-radius: 100px;
}

.user-socials-pub:nth-child(6n+1) {
  margin-right: 0px;
}

.label-block {
  font-size: 15px;
  font-weight: 600;
  color: #444;
}

.label-block b {
  float: right;
  color: #777;
  font-weight: normal;
  font-size: 15px;
}

.el-upload-list__item-name {
  background: #f7f7f7;
  border-radius: 4px;
  width: 100%;
  padding: 5px 15px;
}

.upload-demo .el-button--primary span {
  font-size: 15px !important;
}

.upload-demo .el-button--primary {
  height: 44px;
  min-width: 120px;
}

.upload-demo .el-button--primary:focus,
.upload-demo .el-button--primary:hover {
  background: #50efe8 !important;
  color: #fff !important;
  border: 1px solid #50efe8 !important;
}

.upload-avatar {
  min-height: 20px;
  margin: 10px 0px 30px 0px;
}

.account-section-header {
  font-size: 20px;
  margin: 0px 0px 10px 0px;
  font-weight: bold;
  color: #333333;
  width: 100%;
  line-height: 36px;
}

.account-section-header.with-line::before {
  content: '';
  width: calc(100% + 50px);
  height: 2px;
  background: #f7f7f7;
  display: block;
  margin-bottom: 15px;
  border-radius: 1000px;
  margin-left: -25px;
  margin-top: 25px;
}

.pad-right {
  padding-right: 30px;
}

.main-footer {
  height: 450px;
  background: #e8e8e8;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.profile-top-wrap {
  padding: 25px;
}

::-webkit-input-placeholder {
  color: #777;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #777;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #777;
  opacity: 1;
}

::placeholder {
  color: #777;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #777;
}

::-ms-input-placeholder {
  color: #777;
}

.add-tag-bounding {
  width: 100%;
  position: relative;
}

.add-tag-bounding > li {
  position: relative;
}

.tag-button {
  min-width: 120px;
  padding: 0px 15px;
  height: 44px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  background: #42ddd7;
  color: white;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 10px;
}

.tag-button:hover {
  cursor: pointer;
  background: #3cc8c3;
}

.tag-selector {
  width: 100%;
  background: white;
  border-radius: 6px;
  padding: 8px 0px;
  position: absolute;
  z-index: 4;
  top: 59px;
  -webkit-box-shadow: 0px 0px 8px -4px #000000;
  box-shadow: 0px 0px 8px -4px #000000;
}

.tag-selector li {
  cursor: pointer;
  color: #1a2238;
  font-weight: bold;
  padding: 7px 15px;
}

.tag-selector li b {
  display: block;
  float: right;
  background: #42ded8;
  min-width: 25px;
  border-radius: 100px;
  padding: 4px 10px;
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: 900;
  margin-top: -2px;
}

.tag-selector li:hover {
  cursor: pointer;
  background: #e3ebff;
}

#password label {
  width: 100%;
}

.social-label:nth-child(odd) {
  margin-right: 20px;
}

#socials label {
  width: calc(50% - 10px);
  float: left;
  display: block;
}

#password {
  padding-bottom: 25px;
}

label.error {
  color: #e84763;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

label.error span {
  color: #e84763;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

label.error span b {
  color: #e84763;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

label.error b {
  color: #e84763;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

label.error i {
  color: #e84763;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.i-facebook::before {
  -webkit-mask-image: url("/resources/socials/facebook.svg");
  mask-image: url("/resources/socials/facebook.svg");
}

.i-instagram::before {
  -webkit-mask-image: url("/resources/socials/instagram.svg");
  mask-image: url("/resources/socials/instagram.svg");
}

.i-twitter::before {
  -webkit-mask-image: url("/resources/socials/twitter.svg");
  mask-image: url("/resources/socials/twitter.svg");
}

.i-dribbble::before {
  -webkit-mask-image: url("/resources/socials/dribbble.svg");
  mask-image: url("/resources/socials/dribbble.svg");
}

.i-behance::before {
  -webkit-mask-image: url("/resources/socials/behance.svg");
  mask-image: url("/resources/socials/behance.svg");
}

.i-linkedin::before {
  -webkit-mask-image: url("/resources/socials/linkedin.svg");
  mask-image: url("/resources/socials/linkedin.svg");
}

.i-github::before {
  -webkit-mask-image: url("/resources/socials/github.svg");
  mask-image: url("/resources/socials/github.svg");
}

.i-medium::before {
  -webkit-mask-image: url("/resources/socials/medium.svg");
  mask-image: url("/resources/socials/medium.svg");
}

.i-codepen::before {
  -webkit-mask-image: url("/resources/socials/codepen.svg");
  mask-image: url("/resources/socials/codepen.svg");
}

.i-googleplus::before {
  -webkit-mask-image: url("/resources/socials/googleplus.svg");
  mask-image: url("/resources/socials/googleplus.svg");
}

.i-etsy::before {
  -webkit-mask-image: url("/resources/socials/etsy.svg");
  mask-image: url("/resources/socials/etsy.svg");
}

.i-creativemarket::before {
  -webkit-mask-image: url("/resources/socials/creativemarket.svg");
  mask-image: url("/resources/socials/creativemarket.svg");
}

.i-youtube::before {
  -webkit-mask-image: url("/resources/socials/youtube.svg");
  mask-image: url("/resources/socials/youtube.svg");
}

.i-unsplash::before {
  -webkit-mask-image: url("/resources/socials/unsplash.svg");
  mask-image: url("/resources/socials/unsplash.svg");
}

.i-flickr::before {
  -webkit-mask-image: url("/resources/socials/flickr.svg");
  mask-image: url("/resources/socials/flickr.svg");
}

.i-tumblr::before {
  -webkit-mask-image: url("/resources/socials/tumblr.svg");
  mask-image: url("/resources/socials/tumblr.svg");
}

.i-pinterest::before {
  -webkit-mask-image: url("/resources/socials/pinterest.svg");
  mask-image: url("/resources/socials/pinterest.svg");
}

.user-login-wrap {
  height: 100%;
}

.user-login-wrap li {
  color: white;
}

.social-wrap {
  position: relative;
}

.social-wrap input {
  padding-left: 85px;
}

.social-wrap::before {
  content: '';
  width: 50px;
  height: 44px;
  background-color: #777;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 18px 17px;
  mask-size: 18px 17px;
  display: block;
  position: absolute;
  left: 0px;
  top: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social-wrap.active-social::before {
  background: #15ccc5;
}

.social-label {
  position: relative;
}

.social-label.slash .social-wrap input {
  padding-left: 63px;
}

.social-label.slash::after {
  content: '/';
  position: absolute;
  top: 26px;
  height: 44px;
  width: 20px;
  font-size: 16px;
  text-align: center;
  color: #777;
  line-height: 47px;
  left: 40px;
  font-weight: 500;
}

.social-label.at .social-wrap input {
  padding-left: 63px;
}

.social-label.at::after {
  content: '@';
  position: absolute;
  top: 26px;
  height: 44px;
  width: 20px;
  font-size: 16px;
  text-align: center;
  color: #777;
  line-height: 45px;
  left: 39px;
  font-weight: 500;
}

.social-label .social-wrap input {
  color: #444;
}

.social-section {
  -webkit-transition: max-height 1.5s;
  transition: max-height 1.5s;
  max-height: 413px;
  height: 413px;
  overflow: hidden;
  width: 100%;
  padding-bottom: 50px;
}

.social-section.expanded {
  -webkit-transition: max-height 1.5s;
  transition: max-height 1.5s;
  max-height: 2000px;
  height: initial;
  position: relative;
}

.expand-tags {
  background: #fff;
  width: 100%;
  height: 50px;
  margin-top: -50px;
  position: relative;
}

.expand-tags button {
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  cursor: pointer;
  min-width: 122px;
  background: white;
  height: 42px;
  border-radius: 44px;
  margin: auto;
  display: block;
  padding: 0px 20px;
  border: 1px solid #42ddd7;
  color: #42ddd7;
  font-size: 15px;
  margin-top: 10px;
  font-weight: normal;
}

.expand-tags button:hover {
  background: #42ddd7;
  color: white;
  font-weight: 600;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.account-info-box {
  font-size: 15px;
  color: #222;
  font-weight: normal;
  margin: 0px 0px 25px 0px;
  line-height: 1.4;
  background: #f9f9f9;
  padding: 15px 20px;
  border-radius: 6px;
}

.submit-account {
  min-width: 140px;
  padding: 0px 15px;
  height: 44px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  background: #42ddd7;
  color: white;
  border-radius: 4px;
}

.submit-account:hover {
  cursor: pointer;
  background: #3cc8c3;
}

.login-panel {
  width: 450px;
  max-height: 426px;
}

.panel-register {
  width: 500px;
  margin-right: 20px;
}

.login-btns {
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  width: 140px;
  height: 44px;
  display: block;
  background: transparent;
  border: 1px solid #42DCDA;
  border-radius: 300px;
  color: #42DCD6;
  font-weight: 600;
  font-size: 16px;
  margin: 5px auto 5px auto;
}

.login-btns:hover {
  background: #42DCDA;
  color: white;
}

.login-page input,
.login-page textarea {
  margin: 10px 0px 25px 0px;
  min-height: 44px;
  border: none;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
  background: #f7f7f7;
  color: #444;
  font-size: 15px;
  width: 100%;
  font-weight: 600;
  padding-top: 2px;
}

