/**
 * Regular = Normal
 * Demi = 400
 * 
 * 
 * 
 * 
 * 
 */
 

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-BlackItalic.woff2') format('woff2'),
        url('/fonts/averta/Averta-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-LightItalic.woff2') format('woff2'),
        url('/fonts/averta/Averta-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-Light.woff2') format('woff2'),
        url('/fonts/averta/Averta-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-Extrathin.woff2') format('woff2'),
        url('/fonts/averta/Averta-Extrathin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-ExtraBold.woff2') format('woff2'),
        url('/fonts/averta/Averta-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-ThinItalic.woff2') format('woff2'),
        url('/fonts/averta/Averta-ThinItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-SemiboldItalic.woff2') format('woff2'),
        url('/fonts/averta/Averta-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-Semibold.woff2') format('woff2'),
        url('/fonts/averta/Averta-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-ExtraBoldItalic.woff2') format('woff2'),
        url('/fonts/averta/Averta-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-Bold.woff2') format('woff2'),
        url('/fonts/averta/Averta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-Black.woff2') format('woff2'),
        url('/fonts/averta/Averta-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-Regular.woff2') format('woff2'),
        url('/fonts/averta/Averta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-RegularItalic.woff2') format('woff2'),
        url('/fonts/averta/Averta-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-Thin.woff2') format('woff2'),
        url('/fonts/averta/Averta-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-BoldItalic.woff2') format('woff2'),
        url('/fonts/averta/Averta-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url('/fonts/averta/Averta-ExtrathinItalic.woff2') format('woff2'),
        url('/fonts/averta/Averta-ExtrathinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}
