
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;




////////// Project


$header-color: #1a2238;
$break-full-hd: 1920px;
$bold: bold;
$extra-bold: 800;
$semi: 600;
$darker: #1a2238;
$header-dark: #15182D;
$text-darker-comp: #253254;
$sep: #212c48;
$sidebar-header-size: 18px;
$primary: #ff329d; //#fa0685; //#EF0FA3; //#ff329d;
$secondary: #FF0055;
$placeholder: #777;
$panel-bg: #ffffff;