@import "fonts";
@import "variables";

html * {
    font-family: 'Averta';
    font-weight: 600;
}

.landing-section-one {
    width: 100%;
    height: 85vh;
    background: #fff;
}

.landing-section-two {
    width: 100%;
    height: 100vh;
    background: #42DCD6;
}

.landing-container {
    width: 1170px;
    margin: auto;
    position: relative;
}

.grafik-landing {
    position: absolute;
    bottom: -250px;
    left: calc(50% - 730px);
}

header {
    padding-top: 40px;
    .logo {
        float: left;
    }
    nav {
        ul {
            li{
                a{
                    font-size: 17px;
                    color: #42DDD3;
                    font-weight: $semi;
                    padding: 0px 10px;
                }
                float: left;
            }
        }
        float: right;
    }
}

h1 {
    width: 100%;
    text-align: center;
    color: #42DCD6;
    font-size: 48px;
    font-weight: 900;
    float: left;
    margin-bottom: 20px;
    margin-top: 15vh;
}

.landing-button-wrap {
    a {
        &:hover {
            background: #42DCD6;
            color: white;
        }
        &:first-child {
            margin-right: 20px;
        }
        width: 180px;
        height: 50px;
        display: block;
        border-radius: 100px;
        border: 2px solid #42DCD6;
        text-align: center;
        line-height: 50px;
        float: left;
        color: #42DCD6;
        font-size: 17px;
    }
    width: 380px;
    margin: auto;
    display: block;
    margin-bottom: 100px;
}