
@import "fonts";
@import "variables";

html * {
    font-family: 'Averta';
    font-weight: 600;
}

body {
    background: #F2F2F2;
}

.menu-icon {
    width: 20px;
    height: 34px;
    display: block;
    float: left;
    margin-right: 6px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background: #A1A1A1;
    -webkit-transition: all 0.15s;
    transition: all 0.15s;
}

.placeholder-notifications {
    width: 48px;
    height: 52px;
    display: block;
}

.user-login-wrap {
    li {
        a {
            color: #dddce4;
            font-size: 15px;
            font-weight: 600;
            height: 52px;
            display: block;
            line-height: 55px;
        }
    }
    padding-right: 25px;
}

.i-account-details {
    -webkit-mask-image: url(/resources/menu-icons/account-details.svg);
    mask-image: url(/resources/menu-icons/account-details.svg);
    -webkit-mask-position: 2px 7px;
    mask-position: 2px 7px;
}

.i-creative-tags {
    -webkit-mask-image: url(/resources/menu-icons/creative-tags.svg);
    mask-image: url(/resources/menu-icons/creative-tags.svg);
    -webkit-mask-position: 1px 8px;
    mask-position: 1px 8px;
}

.i-social-profiles {
    -webkit-mask-image: url(/resources/menu-icons/socials.svg);
    mask-image: url(/resources/menu-icons/socials.svg);
    -webkit-mask-position: 1px 9px;
    mask-position: 1px 9px;
}

.i-change-password {
    -webkit-mask-image: url(/resources/menu-icons/change-password.svg);
    mask-image: url(/resources/menu-icons/change-password.svg);
    -webkit-mask-position: 2px 8px;
    mask-position: 2px 8px;
}

.i-notifications {
    -webkit-mask-image: url(/resources/menu-icons/notifications.svg);
    mask-image: url(/resources/menu-icons/notifications.svg);
    -webkit-mask-position: 2px 10px;
    mask-position: 2px 10px;
}

.i-billing {
    -webkit-mask-image:  url(/resources/menu-icons/billing.svg);
    mask-image:  url(/resources/menu-icons/billing.svg);
    -webkit-mask-position: 2px 11px;
    mask-position: 2px 11px;
}

.i-session-log {
    -webkit-mask-image: url(/resources/menu-icons/session-log.svg);
    mask-image: url(/resources/menu-icons/session-log.svg);
    -webkit-mask-position: 2px 9px;
    mask-position: 2px 9px;
}

.main-header {
    .main-menu {
        li {
            a {
                color: #dddce4;
                font-size: 15px;
                font-weight: 600;
                height: 52px;
                display: block;
                line-height: 55px;
            }
            padding: 0px 10px;
        }
        display: flex;
    }
    .logo {
        img {
            padding-bottom: 4px;
        }
    
    
    
    
    
    
    
    
    
    
        position: relative;
        height: 52px;
        display: inline-block;
        line-height: 65px;
        margin: 0px 25px 0px 25px;
    }
    .unread-notifications, .notifications {
        &:hover {
            .notifications-dropdown {
                display: block;
            }
        }
    }
    .unread-notifications {
        &::after {
            content: '';
            width: 12px;
            height: 12px;
            background: #42ddd7;
            position: absolute;
            top: 16px;
            display: block;
            right: 11px;
            border-radius: 100px;
            border: 3px solid #15182d;
        }
        list-style-type: none;
        position: relative;
        width: 48px;
        height: 54px;
        background: center 16px url(/resources/bell.svg) no-repeat;
        float: right;
    }
    .notifications {
        list-style-type: none;
        position: relative;
        width: 48px;
        height: 52px;
        background: center 16px url(/resources/bell.svg) no-repeat;
        float: right;
    }
    .notifications-dropdown {
        &::before {
            content: '';
            position: absolute;
            right: 65px;
            top: -5px;
            border-left: 6px solid transparent;
            border-right: 6px solid white;
            border-top: 6px solid white;
            border-bottom: 6px solid transparent;
            clear: both;
            border-radius: 3px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        .notif-text-container {
            height: 50px;
        }
        hr {
            border: 0px;
            height: 4px;
            background: $sep;
            border-radius: 2px;
            display: block;
            margin: 0px 20px;
        }
        li {
            .notification-block {
                .friend-notification {
                    min-height: 72px;
                }
            }
            .friend-text-part {
                > span {
                    padding-bottom: 10px;
                    font-size: 14px;
                    font-weight: 900;
                    color: #11145f;
                }
                width: 268px;
                float: left;
                padding: 16px 20px 6px 0px;
            }
            .avatar-notification {
                img {
                    border-radius: 100px;
                }   
                width: 72px;
                height: 66px;
                display: block;
                padding: 18px 10px 18px 18px;
                float: left;
            }
            .user-friendable-btn button {
                margin: 0px 4% 10px 0px;
            }
            button {
                float: left;
                width: 48%;
                padding: 0px 10px;
                height: 27px;
                line-height: 29px;
                margin: 0px 0px 10px 0px;
                font-size: 13px;
                border-radius: 6px;
            
                background: #262ba1;
                color: white;
                font-weight: 900;
                border: none;
                cursor: pointer;
                }
        
        }
        z-index: 100000;
        position: absolute;
        display: none;
        top: 54px;
        right: -47px;
        width: 260px;
        min-height: 160px;
        max-height: 370px;
    
        background: white;
        border-radius: 6px;
        color: white;
        -webkit-box-shadow: 0px 0px 8px -4px #000000;
        box-shadow: 0px 0px 8px -4px #000000;
    }
    .messages {
        // &::after {
        //     content: '';
        //     width: 12px;
        //     height: 12px;
        //     background: #42ddd7;
        //     position: absolute;
        //     top: 16px;
        //     display: block;
        //     right: 7px;
        //     border-radius: 100px;
        //     border: 3px solid #15182d;
        // }
        width: 45px;
        height: 52px;
        background: center 16px url(/resources/messages.svg) no-repeat;
        float: right;
        position: relative;
    }
    .search {
        width: 52px;
        height: 52px;
        background: center 17px url(/resources/search.svg) no-repeat;
        float: right;
    }
    .friends-toggle {
        &:active {
            opacity: 0.8;
        }
        width: 52px;
        height: 52px;
        background: center 17px url(/resources/friendships-icon.svg) no-repeat;
        float: right;
        cursor: pointer;
    }
    .header-avatar {
        border-radius: 1000px;
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
        float: right;
        margin: 16px 25px 16px 14px;
    } 
    .user-control {
        display: flex;
    }
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: $header-dark;
    height: 52px;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;

    position: fixed;
    top: 0px;
    z-index: 1000;
}


.live-indicator {
    &::after {
        content: '';
        display: block;
        width: 29px;
        height: 15px;
        background: center center url(/resources/live-icon.svg) no-repeat;
        background-size: 20px 13px;
        position: absolute;
        right: 94px;
        top: 16px;
    }
    border-radius: 100px;
    border: 2px $primary solid;

    padding: 9px 54px 9px 27px;
    font-weight: $semi;
}

.floating-sidebar {
    width: 320px;
    min-height: 280px;
    float: left;
    margin: 0px 0px 0px 30px;
    padding-top: 10px;


}

.preview-floating-sidebar {
    width: 320px;
    min-height: 170px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    pointer-events: none;
}

.panel {
    .panel-section {
        &.no-last:last-child {
            border-bottom: none;
        }
        border-bottom: 2px solid #F7F7F7;
    }
    background: $panel-bg;
    border-radius: 8px;
}

.panel-section {
    .panel-header-big {
        font-size: 18px;
        color: #333;
        text-align: center;
        font-weight: bold;
        margin: 0px 0px -4px 0px;
    }
    .panel-header {
        font-size: 16px;
        font-weight: 600;
        padding: 0px;
        text-align: left;
        margin-bottom: 15px;
    }
    &.panel-slim {
        padding: 15px 25px;
    }
    width: 100%;
    display: inline-block;
    padding: 20px 25px;
}

.profile-avatar-wrapper {
    .user-profile-image {
        width: 100px;
        height: 100px;
        display: block;
        background-size: cover;
        margin-left: -14px;
        border-radius: 100px;
        background-position: center;
    }
    .profile-avatar {
        border-radius: 1000px;
        position: relative;
        display: block;
        width: 100px;
        height: 100px;
        left: -14px;
    }
    position: relative;
    overflow: hidden;
    width: 86px;
    float: left;
    margin-left: -25px;
    margin-right: 10px;
}

.pill-line {
    .rating-pill {
        background: linear-gradient(-90deg, #45D0EC, #3EEABA);
        color: white;
        font-weight: $extra-bold;
        border-radius: 100px;
        font-size: 13px;
        padding: 9px;
        height: 23px;
        display: block;
        position: absolute;
        line-height: 7px;
        top: -12px;
    }
    &.no-bio {
        height: 11px;
    }
    &.has-bio {
        height: 20px;
    }
    position: relative;
    width: 100%;
    float: left;
    height: 20px;
}

.bio {
    font-size: 15px;
    color: #222;
    font-weight: normal;
    line-height: 1.4;
    float: left;
}

.profile-info-wrapper {
    .networking-buttons {
        .user-friendable-btn {
            button {
                width: 106px;
            }
        }
        .follow {
            button {
                width: 86px;
                margin-right: 7px;
            }
        }
        button {
            &:hover {
                background: #42DCD6;
                color: white;
                transition: all 0.1s;
            }
            height: 36px;
            border: 1px solid #42DCD6;
            border-radius: 100px;
            padding-top: 2px;
            float: left;
            display: block;
            font-size: 14px;
            color: #42DCD6;
            cursor: pointer;
            -webkit-transition: all 0.1s;
            transition: all 0.1s;
        }
        padding: 10px 0px 0px 0px;
        display: flex;
    }
    .profile-name {
        font-weight: $bold;
        font-size: 18px;
        margin-bottom: 7px;
        color: #333;
        text-transform: capitalize;
    }
    .profile-location {
        color: #858585;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: normal;
        margin-top: -3px;
    }
    float: left;
    width: 199px;
}

.tag-container-pub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    min-height: 26px;
}

.floating-account-sidebar-user {
    .user-avatar-container {
        .account-badge {
            width: 24px;
            height: 24px;
            background: #ff329d;
            display: block;
            position: absolute;
            bottom: -6px;
            left: -7px;
            border: 4px solid #1b243a;
            border-radius: 100px;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 200px;
        }
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        float: left;
        margin-right: 12px;
    }
    .sidebar-part {
        h1 {
            font-weight: $semi;
            text-transform: capitalize;
        }
        span {
            color: white;
        }
        display: flex;
    }
    h1 {
        float: left;
        color: #333;
        font-weight: $bold;
        font-size: 17px;
        padding-top: 3px;
    }
    width: 280px;
    min-height: 80px;





}

.close-friends {
    width: 20px;
    height: 20px;
    background: crimson;
    display: blocK;
    cursor: pointer;
}

.floating-account-sidebar-user {
    ul {
        .is-active {
            &:hover {
                li {
                    color: #222;
                }
                .menu-icon {
                    background: #222;
                }
            }
            li {
                color: #222;
                font-weight: $bold;
                position: relative;
                z-index: 2333333;
            }
            .menu-icon {
                -webkit-transition: all 0.15s;
                transition: all 0.15s;
                background: #222;
            }
        }
        a {
            &:hover {
                li {
                    color: #777;
                    -webkit-transition: all 0.1s;
                    transition: all 0.1s;
                }
                .menu-icon {
                    background: #777;
                    -webkit-transition: all 0.1s;
                    transition: all 0.1s;
                }
                -webkit-transition: all 0.1s;
                    transition: all 0.1s;
            }
            li {
                -webkit-transition: all 0.15s;
                transition: all 0.15s;
                position: relative;
                line-height: 34px;
                padding-top: 2px;
                font-weight: 600;
                color: #A1A1A1;
                font-size: 16px;
            }
            text-decoration: none;
            display: block;
            color: white;
            position: relative;
            padding-left: 25px;
        }
        hr {
            border: 0px;
            height: 4px;
            background: $sep;
            border-radius: 2px;
            display: block;
            margin: 0px 25px 5px 25px;
        }
    }
}

@keyframes fade-in {
    from {opacity: 0.3;}
    to {opacity: 1;}
}
.fade-in-element {
  animation: fade-in 0.5s;
}



.friends {
    .friend {
        img {
            border-radius: 100px;
            width: 36px;
            height: 36px;
            vertical-align: middle;
            margin-left: 23px;
            padding: 4px;
        }
        .active {
            &:after {
                content: '';
                background: right center url(/resources/arrow-right-sidebar.svg) no-repeat;
                width: 20px;
                height: 20px;
                display: block;
                position: absolute;
                bottom: 12px;
                right: 22px;
            }
        }
        span {
            .online, .offline {
                width: 10px;
                height: 10px;
                display: block;
                border-radius: 100px;
                position: absolute;
                right: 0px;
                top: calc(50% - 5px);
            }
            .online {
                background: #2CD821;
            }
            .offline {
                background: #101729;
            }
            position: relative;
            line-height: 34px;
            padding-left: 6px;
            font-weight: $semi;
            color: black;
            font-size: 15px;
            padding-right: 20px;
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            text-transform: capitalize;
        }
        &:last-child {
            border: none;
        
        }
        &:hover {
            background-color: rgb(23, 32, 51);
            cursor: pointer;
        }
        padding: 7px 0px;
        text-decoration: none;
        display: block;
        color: black;
        padding-right: 25px;
        position: relative;
        display: flex;
    
    }
    width: 320px;
    background: white;
    position: fixed;
    top: 52px;
    right: 0px;
    z-index: 999;
    height: calc(100vh - 52px);
    -webkit-box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.34);
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

.panel-slide-in {
    animation: panel-slide-in 0.5s forwards;
    -webkit-animation: panel-slide-in 0.5s forwards;
}

.panel-slide-out {
    animation: panel-slide-out 0.5s forwards;
    -webkit-animation: panel-slide-out 0.5s forwards;
}
    
@keyframes panel-slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes panel-slide-in {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes panel-slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}

@-webkit-keyframes panel-slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(100%); }
}

.account-content-section {
    .preview-area {
        .preview-profile {
            img {
                user-select: none;
            }
            width: 314px;
            min-height: 284px;
            border-radius: 18px;
        
            border: 2px solid $primary;
            margin: auto;
            background: $darker;
            padding: 25px;
        }
        user-select: none;
    }
    form {
        .submit-account-form {
            &:hover {
                cursor: pointer;
                background: #42ddd7;
            }
            width: 120px;
            height: 44px;
            border-radius: 6px;
            font-size: 15px;
            font-weight: 600;
            background: #42ddd7;
            color: white;
            border-radius: 4px;
        }
        padding-right: 30px;
    }
    input, textarea {
        margin: 10px 0px 25px 0px;
        min-height: 44px;
        border: none;
        border-radius: 4px;
        padding-left: 15px;
        padding-right: 15px;
        background: #f7f7f7;
        color: #444;
        font-size: 15px;
        width: 100%;
        font-weight: 600;
        padding-top: 2px;
    }
    textarea {
        padding: 15px;
        line-height: 1.4;
        min-height: 95px;
    }
    padding: 0px 0px 0px 0px;
    min-height: 400px;
    float: left;
    background-color: $panel-bg;
    border-radius: 8px;
    color: white;
}

.with-preview {
    position: relative;
}

.HolyGrail {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .page-container {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-top: 77px;
  }
  
  .page-container-full {
    display: flex;
    flex: 1;
    padding-top: 77px;
  }

  .HolyGrail-content {
    flex: 1;
  }

  .account-sidebar-menu {
      background: #FBFBFB;
      width: 280px;
      border-radius: 8px 0px 0px 8px;
  }

  #left-side {
      padding-left: 25px;
  }

 #account-content {
    max-width: 1100px;
}
  
  .HolyGrail-left, .HolyGrail-right, .HolyGrail-preview {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }

  .HolyGrail-preview {
    min-width: 320px;
    margin: 0px 0px 0px 25px;
    position: absolute;
    right: -335px;
  }
  
  .HolyGrail-left, .sidebar-queue {
    /* put the left on the left */
    order: -1;
  }

.HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column;
}

.HolyGrail-left {
  order: -1;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
  }
  .HolyGrail-left, .HolyGrail-right {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }
}

@media (max-width: 1800px) {
    .HolyGrail-preview {
        display: none;
    }
  }

.queue-info {
    width: 310px;
    min-height: 100px;
    margin: 0 20px 0 25px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.queue-settings {
    width: 310px;
    min-height: 100px;
    margin: 0 20px 0 25px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.queue-information {
    width: 310px;
    min-height: 100px;
    margin: 0 20px 0 25px;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #b3b3b3;
    font-size: 14px;
    text-align: -webkit-auto;
    line-height: 1.4;
}

.queue-status {
    color: #42DCD6;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.users-overlay {
    width: 44px;
    height: 44px;
    background: linear-gradient(#41E1CD, #43D6E0);
    opacity: 0.7;
    display: block;
    position: absolute;
    margin: -22px 0px 0px -22px;
    z-index: 2;
    border-radius: 100px;
}

@media screen and (max-width: $break-full-hd) {
    .users-overlay {
        width: 2.15vw;
        height: 2.15vw;
        background: linear-gradient(#41E1CD, #43D6E0);
        opacity: 0.7;
        display: block;
        position: absolute;
        margin: -1.075vw 0px 0px -1.075vw;
        z-index: 2;
        border-radius: 100px;
    }
}

.find-session-btn {
    &:hover {
        background-color: #43dfd8;
        -webkit-transition: all 0.1s;
        transition: all 0.1s;
        cursor: pointer;
        color: #ffffff;
    }
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    width: 140px;
    height: 44px;
    display: block;
    background: transparent;
    border: 1px solid #42DCDA;
    border-radius: 300px;
    color: #42DCD6;
    font-weight: 600;
    font-size: 16px;
    margin: 5px auto 5px auto;
}

.panel-header {
    font-size: 18px;
    color: #333;
    text-align: center;
    font-weight: bold;
    padding: 21px 0px 17px 0px;
}

.panel-seperator {
    border: 0px;
    height: 2px;
    background: #F7F7F7;
    display: block;
    margin: 0px;
}

.seperator {
    &.nested {
        margin: 12px 0px 12px 0px;
    }
    &.line {
        margin: 0px 0px 15px 0px;
    }
    &.slim {
        margin: 0px 25px 0px 25px; 
    }
    border: 0px;
    height: 2px;
    background: #EFEFEF;
    display: block;
    margin: 0px 0px 13px 0px;
}

.server-status-box {
    span {
        font-weight: $semi;
    }
    b {
        float: right;
        font-weight: $semi;
    }
    margin: 0px;
    color: #444444;
    display: inline-block;
    width: 100%;
    font-size: 15px;
}

.el-tooltip__popper.is-dark {
    background: #4b86fb;
    color: #fff;
}

.configurator {
    .label-conf {
        b {
            font-weight: $semi;
            float: right;
        }
        color: #444;
        font-size: 16px;
        font-weight: $semi;
    }
    .el-slider__button {
        background: #43D6E0;
        border-color: #43D6E0;
    }
    .el-slider__bar {
        background: linear-gradient(-90deg, #43D6E0, #41E1CD);     
    }
    .el-slider__runway {
        background: #F2F2F2;
    }
    .el-slider__stop {
        background-color: #D8D8D8;
    }
    .slider-wrapper {
        margin: 0px 9px;
    }
    .el-dropdown {
        display: block;
        margin-top: 12px;
    }
    .el-button--primary {
        color: #333;
        background-color: #f3f3f3 !important;
        border: none;
        width: 100%;
        border-radius: 6px;
        font-size: 15px;
        height: 45px !important;
        padding: 10px 15px 10px 15px;
    }
    .el-button {
        text-align: left;
    }
    display: inline-block;


}

.el-dropdown-menu {
    width: 260px !important;
    padding: 10px 0 5px 0 !important;
    border-radius: 6px !important;
    border: 0 !important;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08) !important;
}

.el-dropdown-menu__item {
    padding: 0px !important;
}

.el-dropdown-menu__item--divided:before {
    margin: 0px 0px !important;
}

.el-button--primary {
    background-color: #42ddd7 !important;
    border-color: #42ddd7 !important;
}

.el-checkbox {
    display: block !important;
    padding: 0px 20px !important;
    color: #333 !important;
    font-weight: 800 !important;
    font-size: 15px !important;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
    color: #43dfd8 !important;
    font-weight: 600 !important;
}

.el-checkbox__label {
    font-weight: 600 !important;
    color: #444 !important;
}

.el-button--primary:focus, .el-button--primary:hover {
    background: #e4e4e4 !important;
    color: #333 !important;
    border: none !important;
}

.el-checkbox__inner {
    border-radius: 100px !important;
    width: 17px !important;
    height: 17px !important;
    border: none !important;
}

.el-checkbox__inner::after {
    height: 7px !important;
    left: 6px !important;
    top: 3px !important;
    border-width: 2px !important;
    border-radius: 1.5px !important;
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background: #43dfd8 !important;
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
    top: 7px !important;
    height: 3px !important;
    border-radius: 2px !important;
}

.el-checkbox__inner {
    background-color: #eaeaea !important;
}

.el-icon-arrow-down:before {
    content: '' !important;
    background: url(/resources/arrow-down-select.svg) no-repeat;
    width: 20px;
    height: 20px;
    display: block;
}

.el-icon-arrow-down:before {
    content: '' !important;
    background: 0px 7px url(/resources/arrow-down-select.svg) no-repeat;
    width: 20px;
    height: 14px;
    display: block;
}


.configurator-opton-wrapper {
    &.slide-down {
        overflow: hidden;
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        
        -moz-transition-duration: 0.7s;
        -webkit-transition-duration: 0.7s;
        -o-transition-duration: 0.7s;
        transition-duration: 0.7s;
        opacity: 0;
        background: #fff;
        -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }

    -moz-transition-duration: 1.1s;
    -webkit-transition-duration: 1.1s;
    -o-transition-duration: 1.1s;
    transition-duration: 1.1s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 1000px;
    overflow: hidden;
}

.configurator-opton-replacement-wrapper {
    hr {
        &:last-child {
            margin-bottom: 0px;
        }
    }
    &.slide-down {
        overflow: hidden;
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        opacity: 0;

        transition-delay: 0s;
        -moz-transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        
        -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }
    transition-delay: 0.6s;

    -moz-transition-duration: 1.3s;
    -webkit-transition-duration: 1.3s;
    -o-transition-duration: 1.3s;
    transition-duration: 1.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    max-height: 1000px;
    overflow: hidden;
}

.queue-content-section {
    .world-map-bg {
        .map-users-overlay {
            a {
                position: absolute;
            }
            img {
                margin: -22px 0px 0px -22px;
                width: 44px;
                height: 44px;
                border-radius: 100px;
                position: absolute;
            }
            @media screen and (max-width: $break-full-hd) {
                img {
                    margin: -1.075vw 0px 0px -1.075vw;
                    width: 2.15vw;
                    height: 2.15vw;
                    border-radius: 100px;
                    position: absolute;
                }
            }
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0px;
            z-index: 3;
        }
        .map-bg {
            &.active {
                opacity: 1;
                transition: all 0.5s;
            }
            transition: all 0.5s;
            position: relative;
            display: block;
            margin-top: 30px;
            opacity: 0.5;
            width: 100%;
        }
        position: relative;
        display: table;
        margin: auto;
    }
    margin-right: 30px;
}

span.dot {
    position: absolute;
    padding-left: 4px;
}

.loader-placeholder {
    height: 50px;
    line-height: 50px;
}

.session-prompt-background-tint {
    .session-prompt {
        .prompt-content {
            .progress {
                .progress-seconds {
                    color: white;
                    font-size: 30px;
                    font-weight: 900;
                }
                text-align: center;
                padding: 13px 0px 0px 0px;
            }
            .action-buttons {
                button {
                    &:hover {
                        transition: all 0.15s;
                        background: white;
                        color: #43D6E0;
                        cursor: pointer;
                    }
                    &:last-child {
                        margin-right: 0px;
                    }
                    -webkit-transition: all 0.15s;
                    transition: all 0.15s;
                    border: 2px solid white;
                    min-width: 120px;
                    height: 40px;
                    color: white;
                    background-color: transparent;
                    border-radius: 100px;
                    font-size: 15px;
                    font-weight: bold;
                    float: left;
                    margin-right: 14px;
                }
                display: flex;
                justify-content: center;
                margin: 13px 0px 40px 0px;
            }
            .content-header {
                .name {
                    color: white;
                    font-size: 18px;
                    font-weight: $semi;
                    text-align: center;
                    width: 100%;
                    display: block;
                    margin-top: 10px;
                }
                .location {
                    color: rgba(255,255,255,0.8);
                    font-size: 16px;
                    font-weight: normal;
                    text-align: center;
                    width: 100%;
                    display: block;
                    margin-top: 3px;
                }
                img {
                    border-radius: 200px;
                    margin: auto;
                    display: block;
                    margin-top: 40px;
                    width: 106px;
                    height: 106px;
                    border: 2px solid white;
                }
            }
            position: relative;
            width: 100%;
            height: 100%;
            display: block;
            z-index: 6;
        }
        .prompt-texture {
            background: top url(/resources/texture.png) no-repeat;
            background-size: 100%;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            display: block;
        }
        width: 356px;
        height: 377px;
        display: block;
        position: relative;
        top: 20%;
        margin: auto;
        z-index: 5;
        border-radius: 8px;
        background: linear-gradient(45deg, #43D6E0, #41E1CD);
        overflow: hidden;
    }
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    background: rgba(242, 242, 242, 0.7);
}

.filter-pill {
    &:hover {
        background: #59f5ed;
        color: #ffffff;
        cursor: pointer;
    }
    background: linear-gradient(-90deg, #43D6E0, #41E1CD);
    border-radius: 100px;
    min-width: 30px;
    padding: 0px 10px;
    font-size: 13px;
    text-align: center;
    line-height: 23px;
    height: 20px;
    color: white;
    margin-top: -2px;
    margin-bottom: -5px;
    font-weight: $extra-bold !important;
}

.filter-pill-variation {
    background: linear-gradient(-90deg, #43D6E0, #41E1CD);
    color: #fff;
    border-radius: 100px;
    min-width: 30px;
    padding: 0px 10px;
    font-size: 13px;
    text-align: center;
    line-height: 23px;
    height: 20px;
    font-weight: $extra-bold;
}

.dropdown-label {
    .dropdown-arrow {
        background: right center url(/resources/arrow-right-sidebar.svg) no-repeat;
        width: 10px;
        height: 10px;
        display: block;
        float: left;
    }
    float: left;
}

.checked-dropdown {
    li {
        &.no-border {
            border: none;
            width: 100%;
            text-align: center;
        }
        &:nth-child(even) {
            border: none;
        }
        min-height: 25px;
        padding: 6px 15px 6px 15px;
        font-size: 14px;
        width: 50%;
        float: left;
        font-weight: 700;
        border-right: 2px solid #abfbf830;
    }
    &.collapsed {
        transition: all 0.1s;
        opacity: 0;
        height: 0px;
        padding: 0px;
        margin: 0px;
    }
    transition: all 0.3s;
    width: 100%;

    background: linear-gradient(-90deg, #43D6E0, #41E1CD);
    color: white;
    border-radius: 8px;
    margin: 16px 0px 4px 0px;
    padding: 10px 0px 10px 0px;
    overflow: hidden;
}

.list-group {
    .list-group-item {
        min-width: 30px;
        height: 38px;
        line-height: 40px;
        float: left;
        background: #f3f3f3;
    
        border-radius: 6px;
        padding: 0px 36px 0px 36px;
        margin-right: 10px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 13px;
        text-transform: capitalize;
        font-weight: $bold;
        position: relative;
        color: #444;
    
    }
    margin-bottom: 5px;
}

.handle {
    &:hover {
        cursor: move;
    
    }
    &:active {
        opacity: 0.7;
    }
    width: 22px;
    height: 22px;
    display: block;
    background: #2e3d60;
    position: absolute;
    left: 8px;
    top: 8px;
    background: center center url(/resources/move-icon.svg) no-repeat;
}

.user_tag {
    min-width: 30px;
    height: 28px;
    line-height: 28px;
    float: left;
    background: #ff329d;
    border-radius: 100px;
    padding: 0px 30px 0px 12px;
    margin: 0px 5px 7px 0px;
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 900;
    position: relative;
}

.tag-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 100px;
    margin-top: 20px;
}

.user-tag-pub {
    min-width: 10px;
    height: 27px;
    line-height: 28px;
    float: left;

    background: #F3F3F3;
    border-radius: 100px;
    padding: 0px 11px 0px 11px;
    margin: 0px 7px 7px 0px;
    text-align: center;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: $semi;
    position: relative;
    color: #444444;
}

.highlightText {
    color: #3fd6d0;
    text-transform: capitalize;
    font-weight: $bold;
}

.remove-tag {
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
    width: 22px;
    height: 22px;
    display: block;
    background: #2e3d60;
    position: absolute;
    right: 8px;
    top: 8px;
    background: center center url(/resources/delete-tag.svg) no-repeat;
}

.sortable-ghost {
    span, i {
        opacity: 0;
    }
    opacity: 0 !important;
    border: 0px dotted #39486f;
    background: transparent !important;
    color: transparent !important;
}

.account-ico {
    &:hover{
        .dropdown-top {
            display: block;
        }
    }
    display: inline-block;
}

.dropdown-top {
    &::before {
        content: '';
        position: absolute;
        right: 16px;
        top: -5px;
        border-left: 6px solid transparent;
        border-right: 6px solid white;
        border-top: 6px solid white;
        border-bottom: 6px solid transparent;
        clear: both;
        border-radius: 3px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    hr {
        border: 0px;
        height: 4px;
        background: $sep;
        border-radius: 2px;
        display: block;
        margin: 0px 20px;
    }
    a {
        li {
            &:hover {
                background-color: #eaf0ff;
            }
            width: 100%;
            color: #0d1731;
            padding: 8px 15px 8px 15px;
            font-size: 15px;
            font-weight: $semi;
        }
        width: 100%;
        display: inline-block;
    }
    z-index: 100000;
    position: absolute;
    display: none;
    top: 47px;
    right: 13px;
    width: 220px;
    min-height: 160px;
    max-height: 370px;
    background: white;
    border-radius: 6px;
    color: black;
    padding: 7px 0px;
    -webkit-box-shadow: 0px 0px 8px -4px #000000;
    -moz-box-shadow: 0px 0px 8px -4px #000000;
    box-shadow: 0px 0px 8px -4px #000000;
}

.cp-wrap {
    b {
        font-weight: $bold;
        margin-left: 3px;
        font-size: 14px;
    }
    height: 21px;
    background: linear-gradient(-90deg, #45D0EC, #3EEABA);
    border-radius: 100px;
    flex: 0;
    display: inline-flex;
    padding: 0px 7px;
    line-height: 22px;
    font-size: 14px;
    font-weight: $bold;
    margin-top: 8px;
}

.sidebar-top {
    font-size: $sidebar-header-size;
    color: $text-darker-comp;
    text-align: center;
    font-weight: $bold;
    padding: 20px 0px 15px 0px;
}

.friend-btn {
    .user-friendable-btn button {
        span {
            font-weight: 900;
        }
        &:hover {
            background: white;
            color: $text-darker-comp;
            cursor: pointer;
            margin: auto;
            transition: 0.15s;
        }
        -webkit-transition: 0.15s;
        transition: 0.15s;
        min-width: 115px;
        padding: 0px 15px;
        height: 37px;
        border-radius: 100px;
        font-size: 14px;
        background: transparent;
        border: 2px solid white;
        color: white;
        margin: auto;
        display: block;
    }
    width: 100%;
    margin-bottom: 13px;
}

@media (max-width: 1560px) {
    .account-page .HolyGrail-right {
        display: none;
    }

    .account-content-section {
        margin-right: 30px;
    }
}

.preview-header {
    text-align: center;
    padding: 15px 15px 29px 15px;
    font-size: 16px;
    color: $primary;
    font-weight: $semi;
}

.user-socials-pub {
    .user-social {
        width: 100%;
        height: 100%;
        display: block;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        mask-position: center center;
        -webkit-mask-size: 56% 52%;
        mask-size: 56% 52%;
        background: #444444;
        border-radius: 100px;
    }
    &:nth-child(6n+1) {
        margin-right: 0px;
    }
    width: 36px;
    height: 36px;
    display: block;
    float: left;
    background: #f3f3f3;
    border-radius: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.label-block {
    b {
        i {
        
        }
        float: right;
        color: #777;
        font-weight: normal;
        font-size: 15px;
    }
    font-size: 15px;
    font-weight: 600;
    color: #444;
}

.el-upload-list__item-name {
    background: #f7f7f7;
    border-radius: 4px;
    width: 100%;
    padding: 5px 15px;
}

.upload-demo {
    .el-button--primary span {
        font-size: 15px !important;
    }
    .el-button--primary {
        height: 44px;
        min-width: 120px;
    }
    .el-button--primary:focus, .el-button--primary:hover {
        background: #50efe8 !important;
        color: #fff !important;
        border: 1px solid #50efe8 !important;
    }
}

.upload-avatar {
    min-height: 20px;
    margin: 10px 0px 30px 0px;
}

.account-section-header {
    &.with-line::before {
        content: '';
        width: calc(100% + 50px);
        height: 2px;
        background: #f7f7f7;
        display: block;
        margin-bottom: 15px;
        border-radius: 1000px;
        margin-left: -25px;
        margin-top: 25px;
    }
    font-size: 20px;
    margin: 0px 0px 10px 0px;
    font-weight: $bold;
    color: #333333;
    width: 100%;
    line-height: 36px;
}

.pad-right {
    padding-right: 30px;
}

.main-footer {
    height: 450px;
    background: #e8e8e8;
    margin-top: 30px;
    display: flex;
    flex: 1;
    width: 100%;
}

.profile-top-wrap {
    padding: 25px;
}

::placeholder { 
    color: $placeholder;
    opacity: 1; 
}

:-ms-input-placeholder { 
    color: $placeholder;
}

::-ms-input-placeholder { 
    color: $placeholder;
}

.add-tag-bounding {
    > li {
        position: relative;
    }
    width: 100%;
    position: relative;
}

.tag-button {
    &:hover {
        cursor: pointer;
        background: #3cc8c3;
    }
    min-width: 120px;
    padding: 0px 15px;
    height: 44px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    background: #42ddd7;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 10px;
}

.tag-selector {
    li {
        b {
            display: block;
            float: right;
            background: #42ded8;
            min-width: 25px;
            border-radius: 100px;
            padding: 4px 10px;
            text-align: center;
            color: white;
            font-size: 12px;
            font-weight: 900;
            margin-top: -2px;
        }
        &:hover {
            cursor: pointer;
            background: #e3ebff;
        }
        cursor: pointer;
        color: #1a2238;
        font-weight: $bold;
        padding: 7px 15px;
    }
    width: 100%;
    background: white;
    border-radius: 6px;
    padding: 8px 0px;
    position: absolute;
    z-index: 4;
    top: 59px;
    -webkit-box-shadow: 0px 0px 8px -4px #000000;
    box-shadow: 0px 0px 8px -4px #000000;
}

#password label {
    width: 100%;
}

.social-label:nth-child(odd) {
    margin-right: 20px;
}

#socials label {
    width: calc(50% - 10px);
    float: left;
    display: block;
}

#password {
    padding-bottom: 25px;
}

label.error {
    span {
        b {
            color: #e84763;
            transition: all 0.3s;
        }
        color: #e84763;
        transition: all 0.3s;    
    }
    b {
        color: #e84763;
        transition: all 0.3s;
    }
    i {
        color: #e84763;
        transition: all 0.3s;
    }
    color: #e84763;
    transition: all 0.3s;
}

.i-facebook::before {
    -webkit-mask-image: url('/resources/socials/facebook.svg');
    mask-image: url('/resources/socials/facebook.svg');
}
.i-instagram::before {
    -webkit-mask-image: url('/resources/socials/instagram.svg');
    mask-image: url('/resources/socials/instagram.svg');
}
.i-twitter::before {
    -webkit-mask-image: url('/resources/socials/twitter.svg');
    mask-image: url('/resources/socials/twitter.svg');
}
.i-dribbble::before {
    -webkit-mask-image: url('/resources/socials/dribbble.svg');
    mask-image: url('/resources/socials/dribbble.svg');
}
.i-behance::before {
    -webkit-mask-image: url('/resources/socials/behance.svg');
    mask-image: url('/resources/socials/behance.svg');
}
.i-linkedin::before {
    -webkit-mask-image: url('/resources/socials/linkedin.svg');
    mask-image: url('/resources/socials/linkedin.svg');
}
.i-github::before {
    -webkit-mask-image: url('/resources/socials/github.svg');
    mask-image: url('/resources/socials/github.svg');
}
.i-medium::before {
    -webkit-mask-image: url('/resources/socials/medium.svg');
    mask-image: url('/resources/socials/medium.svg');
}
.i-codepen::before {
    -webkit-mask-image: url('/resources/socials/codepen.svg');
    mask-image: url('/resources/socials/codepen.svg');
}
.i-googleplus::before {
    -webkit-mask-image: url('/resources/socials/googleplus.svg');
    mask-image: url('/resources/socials/googleplus.svg');
}
.i-etsy::before {
    -webkit-mask-image: url('/resources/socials/etsy.svg');
    mask-image: url('/resources/socials/etsy.svg');
}
.i-creativemarket::before {
    -webkit-mask-image: url('/resources/socials/creativemarket.svg');
    mask-image: url('/resources/socials/creativemarket.svg');
}
.i-youtube::before {
    -webkit-mask-image: url('/resources/socials/youtube.svg');
    mask-image: url('/resources/socials/youtube.svg');
}
.i-unsplash::before {
    -webkit-mask-image: url('/resources/socials/unsplash.svg');
    mask-image: url('/resources/socials/unsplash.svg');
}
.i-flickr::before {
    -webkit-mask-image: url('/resources/socials/flickr.svg');
    mask-image: url('/resources/socials/flickr.svg');
}
.i-tumblr::before {
    -webkit-mask-image: url('/resources/socials/tumblr.svg');
    mask-image: url('/resources/socials/tumblr.svg');
}
.i-pinterest::before {
    -webkit-mask-image: url('/resources/socials/pinterest.svg');
    mask-image: url('/resources/socials/pinterest.svg');
}

.user-login-wrap {
    li {
        color: white;

    }
    height: 100%;
}

.social-wrap {
    input {
        padding-left: 85px;
    }
    &::before {
        content: '';
        width: 50px;
        height: 44px;
        background-color: #777;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 18px 17px;
        mask-size: 18px 17px;
        display: block;
        position: absolute;
        left: 0px;
        top: 10px;
        transition: all 0.3s;
    }
    &.active-social::before {
        background: #15ccc5;
    }
    position: relative;
}

.social-label {
    &.slash {
        .social-wrap input {
            padding-left: 63px;
        }
        &::after {
            content: '/';
            position: absolute;
            top: 26px;
            height: 44px;
            width: 20px;
            font-size: 16px;
            text-align: center;
            color: #777;
            line-height: 47px;
            left: 40px;
            font-weight: 500;
        }
    }
    &.at {
        .social-wrap input {
            padding-left: 63px;
        }
        &::after {
            content: '@';
            position: absolute;
            top: 26px;
            height: 44px;
            width: 20px;
            font-size: 16px;
            text-align: center;
            color: #777;
            line-height: 45px;
            left: 39px;
            font-weight: 500;
        }
    }
    .social-wrap input {
        color: #444;
    }
    position: relative;
}

.social-section {
    &.expanded {
        transition: max-height 1.5s;
        max-height: 2000px;
        height: initial;
        position: relative;
    }
    transition: max-height 1.5s;
    max-height: 413px;
    height: 413px;
    overflow: hidden;
    width: 100%;
    padding-bottom: 50px;
}

.expand-tags {
    button {
        &:hover {
            background: #42ddd7;
            color: white;
            font-weight: 600;
            transition: all 0.15s;
        }
        transition: all 0.15s;
        cursor: pointer;
        min-width: 122px;
        background: white;
        height: 42px;
        border-radius: 44px;
        margin: auto;
        display: block;
        padding: 0px 20px;
        border: 1px solid #42ddd7;
        color: #42ddd7;
        font-size: 15px;
        margin-top: 10px;
        font-weight: normal;
    }
    background: #fff;
    width: 100%;
    height: 50px;
    margin-top: -50px;
    position: relative;
}

.account-info-box {
    font-size: 15px;
    color: #222;
    font-weight: normal;
    margin: 0px 0px 25px 0px;
    line-height: 1.4;
    background: #f9f9f9;
    padding: 15px 20px;
    border-radius: 6px;
}

.submit-account {
    &:hover {
        cursor: pointer;
        background: #3cc8c3;
    }
    min-width: 140px;
    padding: 0px 15px;
    height: 44px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    background: #42ddd7;
    color: white;
    border-radius: 4px;
}

.login-panel {
    width: 450px;
    max-height: 426px;
}

.panel-register {
    width: 500px;
    margin-right: 20px;
}

.login-btns {
    &:hover {
        background: #42DCDA;
        color: white;
    }
    cursor: pointer;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    width: 140px;
    height: 44px;
    display: block;
    background: transparent;
    border: 1px solid #42DCDA;
    border-radius: 300px;
    color: #42DCD6;
    font-weight: 600;
    font-size: 16px;
    margin: 5px auto 5px auto;
}

.login-page input, .login-page textarea {
    margin: 10px 0px 25px 0px;
    min-height: 44px;
    border: none;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    background: #f7f7f7;
    color: #444;
    font-size: 15px;
    width: 100%;
    font-weight: 600;
    padding-top: 2px;
}